body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.5em;
}

.well h2 {
    color: #ee4444;
    font-size: 1.2em;
}

.well h3 {
    color: #ee4444;
    font-size: 1em;
}

.well p {
    /* border: dashed 1px #000000; */
    margin-bottom: 0.1em;
}

.well li {
    /* border: solid 1px #000000; */
    margin-top: 0.2em;
}

.well ul {
    /* border: dotted 1px #000000; */
    margin-bottom: 0.5em;
}

.well dl {
    margin-bottom: 0.3em;
}

.well dt {
}

.well dd {
    margin-left: 2em;
}

.well blockquote {
    font-size: 1em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.well table {
    /* border: solid 1px #000000; */
    display: block;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    border-collapse: collapse;
    border-bottom: none;
    margin-bottom: 1em;
}

.well tr:not(:first-child) {
    th, td {
        border-top: solid 1px #aaaaaa;
    }
}

.well th {
    text-align: left;
}

.well th, .well td {
    padding: 0.2em;
}

.well thead {
    border-top: solid 1px #aaaaaa;
    border-bottom: double 1px #999999;
}

.well tbody tr{
    border-bottom: dotted 0.5px #999999;
}

.well tbody {
    border-bottom: solid 1px #999999;
}

.well tbody tr:hover {
    background: #eeeeee;
}

.well table caption {
    caption-side: top;
    text-align: start;
}
