body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.main div.posttitle {
    color: #ee4444;
    font-size: 2em;
}

.main h1 {
    color: #ee4444;
    font-size: 1.6em;
    border-bottom: solid 2px #dddddd;
}

.main h2 {
    color: #ee4444;
    font-size: 1.4em;
    border-bottom: solid 1px #dddddd;
}

.main h3 {
    color: #ee4444;
    font-size: 1.2em;
    font-style: italic;
}

.main p {
    /* border: dashed 1px #000000; */
    margin-bottom: 0.1em;
}

.main li {
    /* border: solid 1px #000000; */
    margin-top: 0.2em;
}

.main ul {
    /* border: dotted 1px #000000; */
    margin-bottom: 0.5em;
}

.main dl {
    margin-bottom: 0.3em;
}

.main dt {
}

.main dd {
    margin-left: 2em;
}

.main blockquote {
    font-size: 1em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.main table {
    /* border: solid 1px #000000; */
    display: block;
    overflow: auto;
    white-space: nowrap;
    width: 100%;
    border-collapse: collapse;
    border-bottom: none;
    margin-bottom: 1em;
}

.main th {
    text-align: left;
}

.main th, .main td {
    padding: 0.2em;
}

.main thead {
    border-top: solid 1px #999999;
    border-bottom: double 1px #999999;
}

.main tbody tr{
    border-bottom: dotted 0.5px #bbbbbb;
}

.main tbody {
    border-bottom: solid 1px #999999;
}

.main tbody tr:hover {
    background: #eeeeee;
}

.main table caption {
    caption-side: top;
    text-align: start;
}

.info {
    font-size: 1em;
    /* font-style: italic; */
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
