<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
勉強したことおきば
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2020-09-15_webapp_security_02.html">Webアプリケーションセキュリティ - クロスサイト・リクエストフォージェリ（CSRF）</a></li>
        
          <li><a href="./2020-09-14_webapp_security_01.html">Webアプリケーションセキュリティ - クロスサイト・スクリプティング（XSS）</a></li>
        
          <li><a href="./2020-08-15_lazy_evaluation_in_realtime_queue.html">実時間キューの挙動を追ってみる</a></li>
        
          <li><a href="./2020-08-06_construct_k8s_with_minikube.html">Minikubeを使って、kubernetesを構築する。</a></li>
        
          <li><a href="./2020-08-06_org_iterating_tasks.html">Org-habitの、'.+' '++' '+' の振る舞いの違いについて</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="./2020-09-14_webapp_security_01.html">2020-09-14 (Mon) - Webアプリケーションセキュリティ - クロスサイト・スクリプティング（XSS）</a></h1>
            <!-- コメント機能は別途追加する -->
            <!-- {% if site.comments and page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            <div class="post-content">
            <p>会社の金で勉強できるぞ！ということで、普段なかなか触る機会のないセキュリティについて勉強する。 特に、よくある脆弱性とその対策方法を、サンプルコード等を用いた攻撃を通して理解したい。</p>
<p>この記事では、クロスサイト・スクリプティングについて、概要と基本的な対策について記載する。</p>
<p>なお、今回学習に使用する資料はこちら。</p>
<ul>
<li><a href="https://www.amazon.co.jp/%25E4%25BD%2593%25E7%25B3%25BB%25E7%259A%2584%25E3%2581%25AB%25E5%25AD%25A6%25E3%2581%25B6-%25E5%25AE%2589%25E5%2585%25A8%25E3%2581%25AAWeb%25E3%2582%25A2%25E3%2583%2597%25E3%2583%25AA%25E3%2582%25B1%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%25B3%25E3%2581%25AE%25E4%25BD%259C%25E3%2582%258A%25E6%2596%25B9-%25E7%25AC%25AC2%25E7%2589%2588-%25E8%2584%2586%25E5%25BC%25B1%25E6%2580%25A7%25E3%2581%258C%25E7%2594%259F%25E3%2581%25BE%25E3%2582%258C%25E3%2582%258B%25E5%258E%259F%25E7%2590%2586%25E3%2581%25A8%25E5%25AF%25BE%25E7%25AD%2596%25E3%2581%25AE%25E5%25AE%259F%25E8%25B7%25B5-%25E5%25BE%25B3%25E4%25B8%25B8/dp/4797393165/ref=tmm_hrd_swatch_0?_encoding=UTF8&amp;qid=&amp;sr=">体系的に学ぶ 安全なWebアプリケーションの作り方 第2版 脆弱性が生まれる原理と対策の実践</a></li>
<li><a href="https://www.ipa.go.jp/files/000017316.pdf">安全なウェブサイトの作り方</a> （IPA）</li>
</ul>
<p><!--more--></p>
<h1 id="xssとはなんじゃらほい">XSSとは？なんじゃらほい</h1>
<p>IPA「<a href="https://www.ipa.go.jp/files/000017316.pdf">安全なウェブサイトの作り方</a> - 1.5 クロスサイト・スクリプティング」は、以下の記載がある。</p>
<blockquote>
<p>ウェブアプリケーションにスクリプトを埋め込むことが可能な脆弱性がある場合、これを悪用した攻撃により、利用者のブラウザ上で不正なスクリプトが実行されてしまう可能性があります。</p>
</blockquote>
<p>「スクリプトを埋め込むことが可能な脆弱性」がどこにあるかによるが、 大雑把に言えば、脆弱なウェブアプリケーションには、以下のようにしてスクリプトを埋め込むことができる。</p>
<ol>
<li>GETリクエストのパラメータ、もしくはPOSTリクエストではフォームを利用して、攻撃用の文字列をウェブアプリケーションに送信する。 攻撃用の文字列は、 <code>&lt;script&gt;</code> タグで囲まれたJavascriptや、偽サイトのHTMLなどである（他にもあると思う）。</li>
<li>ウェブアプリケーションは、受け取った文字列から動的にHTMLを構築する。 その際、ウェブアプリケーションが受け取った文字列をサニタイズせずに使用した場合、構築したHTMLに攻撃用の文字列が紛れ込むことになってしまう。</li>
</ol>
<p>Javascriptが埋め込めてしまうと、ウェブブラウザ上でできることは何でもできてしまうため、例えば</p>
<ul>
<li>セッションIDの窃取</li>
<li>閲覧者の情報を送信</li>
</ul>
<p>などは簡単にできてしまう。 また、偽サイトで、本物サイトと同じ見た目のフォームを作成しておけば、攻撃者に対して入力値をPOSTすることもできてしまう。 この攻撃は、閲覧者がJavascriptを無効としていても、なお有効な攻撃となる。</p>
<p>実際には、脆弱性のあるウェブサイトには任意のJavascriptコードを埋め込むことができるため、まさに「やりたい放題」である。 ページを表示しただけで、即座に攻撃者へ情報を送信してしまうことも可能だ。</p>
<p>脆弱性のあるウェブサイトへの誘導方法としては、例えば</p>
<ul>
<li>罠となるサイトを作成しておいて、SNS等で誘い込む（罠サイトを経由して、脆弱性のあるウェブサイトでJavascriptが生成される）</li>
<li>脆弱性のある掲示板やSNS、ブログサイトのコメント欄を利用して、サイトにJavascript等を埋め込む</li>
</ul>
<p>などが考えられる。</p>
<h1 id="xssへの対策">XSSへの対策</h1>
<p>詳細な話は書籍に譲るが、以下の2つが基本的な対策となる。</p>
<ol>
<li>レスポンスでの出力内容をエスケープする</li>
<li>レスポンスでの文字エンコーディングを明示する</li>
</ol>
<h2 id="について">1について</h2>
<p>入力値の中にhtmlの構文で特別な意味を持つ文字が含まれていた場合に、それをそのままレンダリングしてしまうことを防ぐためにhtmlエスケープを行う。 htmlによって解釈される文字と、出力場所の終端文字列について、エスケープが必要になる（引用元：書籍）。</p>
<table>
<thead>
<tr class="header">
<th>No.</th>
<th>入力値が出力される場所</th>
<th>説明</th>
<th>エスケープ概要</th>
<th>備考</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>1</td>
<td>要素内容（通常のテキスト）</td>
<td>タグ、文字参照が解釈される。終端文字は <code>&lt;</code></td>
<td><code>&lt;</code> <code>&amp;</code> を文字参照にする</td>
<td></td>
</tr>
<tr class="even">
<td>2</td>
<td>属性値</td>
<td>文字参照が解釈される。終端文字は <code>"</code></td>
<td>属性値を <code>"</code> で囲み、 <code>"</code> <code>&lt;</code> <code>&amp;</code> を文字参照にする</td>
<td></td>
</tr>
<tr class="odd">
<td>3</td>
<td>属性値（url）</td>
<td>同上</td>
<td>urlの形式を検査（https/http）してから、属性値としてエスケープ</td>
<td><code>href</code> など</td>
</tr>
<tr class="even">
<td>4</td>
<td>イベントハンドラ</td>
<td>同上</td>
<td>Javascriptとしてエスケープしてから、属性値としてエスケープ</td>
<td><code>&lt;body&gt;</code> タグの <code>onload</code> 属性で呼び出す関数のパラメータなど</td>
</tr>
<tr class="odd">
<td>5</td>
<td>script要素内の文字列リテラル</td>
<td>タグ、文字参照とも解釈されない。終端文字は <code>&lt;/</code></td>
<td>Javascriptとしてエスケープ及び <code>&lt;/</code> が出現しないよう考慮する</td>
<td><code>&lt;script&gt;</code> タグの内容を動的に生成する場合。できれば使わない</td>
</tr>
</tbody>
</table>
<h2 id="について-1">2について</h2>
<p>明示的に文字エンコーディングを指定していない場合、ブラウザ側が、レスポンス内容から文字エンコーディングを推測する。 その時、（例えば）UTF-8で見れば問題ない入力内容でも、別のエンコーディングではhtmlに解釈される文字となってしまう場合がある。</p>
<p>安全なウェブサイトの作り方から例を引用する。以下の文字列</p>
<pre class="text"><code>+ADw-script+AD4-alert(+ACI-test+ACI-)+ADsAPA-/script+AD4-
</code></pre>
<p>がhtml中に現れた場合、一部のブラウザは、エンコーディングをUTF-7と解釈する。 これがUTF-7として画面に表示されると、</p>
<pre class="text"><code>&lt;script&gt;alert('test');&lt;/script&gt;
</code></pre>
<p>として扱われるため、スクリプトが実行される。</p>
<h2 id="thymeleafの例">Thymeleafの例</h2>
<p>例として、Thyemleafでコードを記載してみる。</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode html"><code class="sourceCode html"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a><span class="dt">&lt;!DOCTYPE </span>html<span class="dt">&gt;</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true"></a></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true"></a><span class="kw">&lt;html</span><span class="ot"> xmlns:th=</span><span class="st">&quot;http://www.thymeleaf.org&quot;</span><span class="kw">&gt;</span></span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true"></a></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true"></a><span class="kw">&lt;head&gt;</span></span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true"></a>    <span class="kw">&lt;title&gt;</span>Input your information<span class="kw">&lt;/title&gt;</span></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true"></a>    <span class="kw">&lt;meta</span><span class="ot"> http-equiv=</span><span class="st">&quot;Content-Type&quot;</span><span class="ot"> content=</span><span class="st">&quot;text/html; charset=UTF-8&quot;</span> <span class="kw">/&gt;</span></span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true"></a><span class="kw">&lt;/head&gt;</span></span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true"></a></span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true"></a><span class="kw">&lt;body&gt;</span></span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true"></a>    <span class="kw">&lt;form</span><span class="ot"> th:action=</span><span class="st">&quot;@{/confirm}&quot;</span><span class="ot"> method=</span><span class="st">&quot;POST&quot;</span><span class="ot"> th:object=</span><span class="st">&quot;${demoForm}&quot;</span><span class="kw">&gt;</span></span>
<span id="cb3-12"><a href="#cb3-12" aria-hidden="true"></a>        <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="ot"> th:field=</span><span class="st">&quot;*{name}&quot;</span><span class="kw">&gt;&lt;/input&gt;</span></span>
<span id="cb3-13"><a href="#cb3-13" aria-hidden="true"></a>        <span class="kw">&lt;input</span><span class="ot"> type=</span><span class="st">&quot;text&quot;</span><span class="ot"> th:field=</span><span class="st">&quot;*{address}&quot;</span><span class="kw">&gt;&lt;/input&gt;</span></span>
<span id="cb3-14"><a href="#cb3-14" aria-hidden="true"></a>        <span class="kw">&lt;button</span><span class="ot"> type=</span><span class="st">&quot;submit&quot;</span><span class="kw">&gt;</span>送信<span class="kw">&lt;/button&gt;</span>          </span>
<span id="cb3-15"><a href="#cb3-15" aria-hidden="true"></a>    <span class="kw">&lt;/form&gt;</span></span>
<span id="cb3-16"><a href="#cb3-16" aria-hidden="true"></a><span class="kw">&lt;/body&gt;</span></span>
<span id="cb3-17"><a href="#cb3-17" aria-hidden="true"></a><span class="kw">&lt;/html&gt;</span></span>
<span id="cb3-18"><a href="#cb3-18" aria-hidden="true"></a></span></code></pre></div>
<div class="sourceCode" id="cb4"><pre class="sourceCode html"><code class="sourceCode html"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true"></a><span class="dt">&lt;!DOCTYPE </span>html<span class="dt">&gt;</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true"></a></span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true"></a><span class="kw">&lt;html</span><span class="ot"> xmlns:th=</span><span class="st">&quot;http://www.thymeleaf.org&quot;</span><span class="kw">&gt;</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true"></a></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true"></a><span class="kw">&lt;head&gt;</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true"></a>    <span class="kw">&lt;title&gt;</span>Confirm your information<span class="kw">&lt;/title&gt;</span></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true"></a>    <span class="kw">&lt;meta</span><span class="ot"> http-equiv=</span><span class="st">&quot;Content-Type&quot;</span><span class="ot"> content=</span><span class="st">&quot;text/html; charset=UTF-8&quot;</span> <span class="kw">/&gt;</span></span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true"></a><span class="kw">&lt;/head&gt;</span></span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true"></a></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true"></a><span class="kw">&lt;body&gt;</span></span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true"></a>    <span class="kw">&lt;div</span><span class="ot"> th:object=</span><span class="st">&quot;${demoForm}&quot;</span><span class="kw">&gt;</span></span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true"></a>        <span class="kw">&lt;p</span><span class="ot"> th:text=</span><span class="st">&quot;*{name}&quot;</span><span class="kw">&gt;&lt;/p&gt;</span></span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true"></a>        <span class="kw">&lt;p</span><span class="ot"> th:text=</span><span class="st">&quot;*{address}&quot;</span><span class="kw">&gt;&lt;/p&gt;</span></span>
<span id="cb4-14"><a href="#cb4-14" aria-hidden="true"></a>    <span class="kw">&lt;/div&gt;</span></span>
<span id="cb4-15"><a href="#cb4-15" aria-hidden="true"></a><span class="kw">&lt;/body&gt;</span></span>
<span id="cb4-16"><a href="#cb4-16" aria-hidden="true"></a><span class="kw">&lt;/html&gt;</span></span></code></pre></div>
<p>最初の画面でフォームよりウェブアプリケーションに入力が渡され、アプリケーション内の <code>DemoForm</code> オブジェクトに格納されている。 次の画面では、 <code>DemoForm</code> オブジェクトを出力している。 <code>th:text</code> 属性を使用して値を表示する場合、値はデフォルトでhtmlエスケープされる（具体的には、 <code>&lt;</code> <code>&gt;</code> <code>&amp;</code> <code>"</code> <code>'</code> が文字参照となる）。 そのため、属性値に対するエスケープとしては問題がない。</p>
<p>一方、 <code>th:text</code> の代わりに <code>th:utext</code> を使用した場合、中身の値はエスケープされないため、問題がある。 例えば、 前画面で <code>name</code> パラメータに以下のような文字列を渡した場合を考える（書籍の記載例参照）。</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode javascript"><code class="sourceCode javascript"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true"></a><span class="st">&quot;+onmouseover%3d&quot;</span><span class="fu">alert</span>(<span class="bu">document</span><span class="op">.</span><span class="at">cockie</span>)</span></code></pre></div>
<p><code>th:utext</code> を使用して表示していた場合、該当要素をマウスオーバーすると、ブラウザに保存されているcockieが表示されてしまう。</p>
<h2 id="保険的対策">保険的対策</h2>
<p>上記の対策以外に、保険的対策として以下のことも実施できる。</p>
<dl>
<dt><code>X-XSS-Protection</code> レスポンスヘッダの追加</dt>
<dd>XSSフィルタを有効にする（閲覧者側の設定を上書きする）。 ただし、最近のブラウザではContent Security Policy (CSP)への以降を見据え、XSSフィルタを無効化されつつある。
</dd>
<dt>入力値検証</dt>
<dd>予め、不正な入力が紛れ込まないようにする。 ただし、任意の文字列を受け取るような入力もあるため、これだけでセキュリティ対策にはならない。
</dd>
<dt>クッキーに <code>HttpOnly</code> 属性を付与</dt>
<dd>仮にJavascriptを埋め込まれても、Javascriptからはクッキーの読み出しができないようにする。 それ以外の攻撃は、依然として有効。
</dd>
</dl>
<h1 id="まとめ">まとめ</h1>
<p>XSSは、入力値が「エスケープされないまま」で「HTMLとして出力」される脆弱性により発生する。 そのため、基本的には出力前に値をエスケープしておくことで、脆弱性は潰すことができる。</p>
<p>とはいえ、基本的にはアプリケーション側での対応になるので、処理一つ一つについてエスケープしているか、 のレビューが必須になってくる（インフラ的な対策や、共通部品みたいなのでなんとかしづらそう）。 こういうアプリケーションセキュリティの有識者って、結構重要な存在なんだなぁ、と思うなどした。</p>
            </div>
            <!-- コメント機能は別途追加する -->
            <!-- {% if page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!-- <div id="disqus_thread"> -->
            <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
            <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
            <!-- </div> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <section id="isso-thread"></section> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            </div>
          </div>
          <div class="pagination">
              <!-- ページネーションは別途追加する -->
              <!-- {% if page.next %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
              <!-- {% endif %} -->
              <!-- {% if page.previous %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
              <!-- {% endif %} -->
          </div>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and page.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function() { -->
<!--      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; -->
<!--      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; -->
<!--      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); -->
<!--     })(); -->
<!--   </script> -->
<!-- {% endif %} -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a>
            under
            <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>, theme adjusted to Hakyll by Takayuki Uchida</p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

