<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/syntax.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
勉強したことおきば
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2020-08-06_construct_k8s_with_minikube.html">Minikubeを使って、kubernetesを構築する。</a></li>
        
          <li><a href="./2020-08-06_org_iterating_tasks.html">Org-habitの、'.+' '++' '+' の振る舞いの違いについて</a></li>
        
          <li><a href="./2020-07-23_kyopro_abc165c_full_search.html">Haskellで精進記録 - ABC165d</a></li>
        
          <li><a href="./2020-07-23_kyopro_abc162d_full_search.html">Haskellで精進記録 - ABC162d</a></li>
        
          <li><a href="./2020-07-19_encoding_mismatch_between_server_and_client.html">GitBash（MSYS2）でsshしたときの文字化けを解消する</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="./2020-07-19_encoding_mismatch_between_server_and_client.html">2020-07-19 (Sun) - GitBash（MSYS2）でsshしたときの文字化けを解消する</a></h1>
            <!-- コメント機能は別途追加する -->
            <!-- {% if site.comments and page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            <div class="post-content">
            <h1 id="はじめに">はじめに</h1>
<p>タイトルまんまです。</p>
<p>やんごとなき理由により、Linuxサーバ（RHEL7）でとあるユーザの文字エンコーディングをUTF-8からEUC-JPに変更する必要があった。 ちゃんと <code>ja_JP.eucjp</code> もインストールされていたので、対象ユーザの <code>~/.bash_profile</code> に以下を設定すれば良い。</p>
<div class="sourceCode" id="cb1" data-org-language="sh"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true"></a>$ <span class="fu">cat</span> ~/.bash_profile <span class="kw">|</span> <span class="fu">grep</span> LANG</span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true"></a><span class="va">LANG=</span>ja_JP.eucjp</span></code></pre></div>
<p>設定されているかの確認は以下（ <code>source</code> するか、再ログインしてから確認する） 。</p>
<div class="sourceCode" id="cb2" data-org-language="sh"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a>$ <span class="fu">env</span> <span class="kw">|</span> <span class="fu">grep</span> <span class="st">&quot;^LANG=&quot;</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="va">LANG=</span>ja_JP.eucjp</span></code></pre></div>
<p>これでちゃんと日本語が表示されるはずなのだが、GitBashでsshして接続すると、何故か文字化けしてしまう。</p>
<h1 id="原因">原因</h1>
<p>まんまこれと同じでした。</p>
<ul>
<li><a href="https://ja.stackoverflow.com/questions/55304/msys2-%25E3%2581%25AE-ssh-%25E3%2581%25A7euc-jp%25E7%2592%25B0%25E5%25A2%2583%25E3%2581%25AB%25E3%2583%25AA%25E3%2583%25A2%25E3%2583%25BC%25E3%2583%2588%25E6%258E%25A5%25E7%25B6%259A%25E3%2581%2597%25E3%2581%259F%25E5%25A0%25B4%25E5%2590%2588%25E3%2581%25AB%25E6%2596%2587%25E5%25AD%2597%25E5%258C%2596%25E3%2581%2591%25E3%2582%2592%25E5%259B%259E%25E9%2581%25BF%25E3%2581%2599%25E3%2582%258B%25E6%2596%25B9%25E6%25B3%2595">msys2 の ssh でeuc-jp環境にリモート接続した場合に文字化けを回避する方法</a></li>
</ul>
<p>GitBash（Git for Windowsに同梱されているシェル環境）は<a href="https://qiita.com/Ted-HM/items/9a60f6fcf74bbd79a904#git-for-windows">MSYS2ベース</a>なので、同じ現象に該当すると思われる。 状況としては、サーバからEUC-JPエンコーディングのバイナリが送られているが、クライアント側で別のエンコーディングのデータとして解釈されており、結果として文字化けが発生しているようだ。</p>
<h1 id="解決">解決</h1>
<p>同じページの回答にある、 <code>luit</code> というツールを導入することで解消した。このツールは、プロセスの間に立って受け取るデータのエンコーディングをいい感じに変換してくれるみたい。 <code>luit.exe</code> のバイナリをパスの通ったディレクトリに起き、以下を実行すれば文字化けなく表示される。</p>
<div class="sourceCode" id="cb3" data-org-language="sh"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true"></a><span class="ex">luit.exe</span> -encoding eucjp -- ssh <span class="va">${SERVERNAME}</span></span></code></pre></div>
<p>毎回これをするのはめんどいが、そんなに実行する機会もないはずなので、一旦はこれでOK。 （当初はサーバ側の問題と勘違いし、設定方法を確認したり<a href="https://qiita.com/qiitamatumoto/items/efffc0ef6e6249533201">このあたり</a>やってみたりで半日くらい時間を溶かしてしまったのは秘密。）</p>
<h2 id="ちなみに">ちなみに</h2>
<p>同様にクライアントが受け取る文字エンコーディングをいい感じに変換してくれるツールとして、 <a href="https://qiita.com/Ted-HM/items/9a60f6fcf74bbd79a904#cocot">cocot</a>というのもある。 最初自分もこちらを試してみたが、うまく動かせなかった（多分使い方が間違ってる）。</p>
<h1 id="補記">補記</h1>
<p>Windowsで使えるシェル環境ってあんまり知らなかったけど、調べている中で面白い記事を発見した。</p>
<ul>
<li><a href="https://qiita.com/Ted-HM/items/9a60f6fcf74bbd79a904">Windowsで使えるターミナルとシェルのまとめ</a></li>
</ul>
<p>結構いろんなシェル環境があるんだなー。普段はGitBash（か、たまにCygwin）しか使ってないけど、ちょっと他のも使ってみようかな。</p>
            </div>
            <!-- コメント機能は別途追加する -->
            <!-- {% if page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!-- <div id="disqus_thread"> -->
            <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
            <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
            <!-- </div> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <section id="isso-thread"></section> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            </div>
          </div>
          <div class="pagination">
              <!-- ページネーションは別途追加する -->
              <!-- {% if page.next %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
              <!-- {% endif %} -->
              <!-- {% if page.previous %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
              <!-- {% endif %} -->
          </div>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and page.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function() { -->
<!--      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; -->
<!--      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; -->
<!--      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); -->
<!--     })(); -->
<!--   </script> -->
<!-- {% endif %} -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a>
            under
            <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>, theme adjusted to Hakyll by Takayuki Uchida</p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

