<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2020-11-04_maven-deploy-jar-and-scripts.html">maven-assembly-pluginで配布用アーカイブを作成する</a></li>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
          <li><a href="./2020-10-04_hakyll_teaser.html">Hakyllでのteaser（続きを読む）の設定</a></li>
        
          <li><a href="./2020-09-15_webapp_security_02.html">Webアプリケーションセキュリティ - クロスサイト・リクエストフォージェリ（CSRF）</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well main">
              <h1>ブログを始めた</h1>
            <!-- コメント機能は別途追加する -->
            <!-- {% if site.comments and page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            <div class="post-content">
            <p>いろいろ思うところがあり、ブログを運用することにしました。</p>
<p>もともと同名のブログをはてなブログで運営していたが（運営していたというほど記事をポストしていたわけではない）、<br />
なんとなく愛着がわかないなー、と思っていた。</p>
<p>そんな中で、GitHub Pagesというものがあるのを知ったり（正確には前から知っていたが見えてなかった）、<br />
Haskellでブログ書いてるー、みたいな記事をいくつか見つけたので、ちょっとやってみっか、と一念発起。</p>
<p><!--more--></p>
<h2 id="hakyllのセットアップ">Hakyllのセットアップ</h2>
<p>今回は、単にhaskellを使いたいのと、記事はorg-modeで書きたいので、Hakyllを使うことにした。<br />
Hakyllは内部でpandocを使っており、markdownやorgをhtmlに変換してくれる。<br />
（実はpandocをほとんど使ったことがないので、どのくらいちゃんと変換できるか、とかは知らない）</p>
<p>セットアップに当たっては以下を参考にした。（matsubaraさんのが特に参考になった。結構まねてる。）</p>
<ul>
<li><a href="https://matsubara0507.github.io/posts/2016-07-07-started-github-pages.html">GitHub Paghes はじめました</a><br />
</li>
<li><a href="https://myuon.github.io/posts/hakyll-blog/">HakyllでBlogを作る</a><br />
</li>
<li><a href="https://hackage.haskell.org/package/hakyll">hakyll: A static website compiler library</a><br />
</li>
<li><a href="https://jaspervdj.be/hakyll/tutorials.html">TUTORIALS ABOUT HAKYLL</a></li>
</ul>
<p>インストール〜プロジェクト作成は、</p>
<pre class="shell"><code>$ stack install hakyll
$ stack exec hakyll-init my_site
</code></pre>
<p>とするだけ。プロジェクトを作成したら、 <code>stack.yaml</code> を作っておく。</p>
<div class="sourceCode" id="cb2"><pre class="sourceCode yaml"><code class="sourceCode yaml"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true"></a><span class="fu">resolver</span><span class="kw">:</span><span class="at"> lts-16.3</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true"></a><span class="fu">packages</span><span class="kw">:</span></span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true"></a><span class="kw">-</span><span class="at"> .</span></span></code></pre></div>
<p>プロジェクトを作成したばかりでも、 <code>stack build &amp;&amp; stack exec site build &amp;&amp; stack exec site watch</code> でサンプルサイトが立ち上がる<br />
（http://localhost:8000 から見ることができる）。<br />
出来上がった <code>site.hs</code> やhackageを見つつ、どんな処理してるのかを確認する。</p>
<p><code>stack exec site build</code> すると、デフォルトでは、 <code>_site</code> 配下にビルドされた静的コンテンツが、 <code>_cache</code> 配下に何らかのキャッシュが作成される。<br />
これらは <code>.gitignore</code> で管理対象外にしておく（ついでに <code>.stack-work</code> も）。</p>
<h2 id="github-pagesへのデプロイ">GitHub Pagesへのデプロイ</h2>
<p>ほとんどこれ。</p>
<ul>
<li><a href="https://jaspervdj.be/hakyll/tutorials/github-pages-tutorial.html">TUTORIAL: USING HAKYLL WITH GITHUB PAGES</a></li>
</ul>
<p><code>source</code> ブランチで記事を書き、ビルドしたコンテンツを <code>master</code> ブランチに反映させる。<br />
ポイントは、 <code>source</code> ブランチはもとの記事やビルド用資材のみ、 <code>master</code> ブランチはコンテンツのみ持っているということだ。<br />
<code>_site</code> をGit管理対象外にしておくことで、このディレクトリを通じて、 <code>master</code> ブランチがコンテンツのみ持っている、という状況を作り出せる。<br />
（こういう使い方をするのは初めて見たが、参考になる。）</p>
<p>ビルドとデプロイが手軽にできるよう、手順を簡単なスクリプトにしておいた。</p>
<h3 id="ちなみに">ちなみに</h3>
<p>最初勘違いしていたが、GitHub Pagesでは、大きく分けて2つの公開方法がある。</p>
<dl>
<dt>ユーザー/Organizationページ</dt>
<dd>&lt;user/organization name&gt;.github.io/<br />

</dd>
<dt>プロジェクトページ</dt>
<dd>&lt;username&gt;.github.io/&lt;repository&gt;/
</dd>
</dl>
<p>（参考：<a href="https://docs.github.com/ja/github/working-with-github-pages/about-github-pages">GitHub Pages について</a>）</p>
<p>当初はプロジェクトページとして作成していた。<br />
この場合は、公開対象が <code>master</code> ブランチ直下以外に、 <code>master</code> ブランチ直下の <code>docs/</code> ディレクトリも選択することができる。<br />
こうすると、わざわざ <code>source</code> ブランチと <code>master</code> ブランチを分けなくて楽だなー、と思っていたが、<br />
パスの先頭に <code>&lt;repository&gt;</code> をつけないとだめで、そのままビルドしてもGitHub Pagesでは閲覧できない。<br />
（ちゃんと作り込めばいいんだろうけど、そこまでするのはめんどくさい。）</p>
<h2 id="そのうち直したいなーなど">そのうち直したいなー、など</h2>
<p>スタイルとかは何も考えずに作ったので、デフォルトのままでちょっとださい。これは近いうちに修正しようと思う。<br />
他にやっておきたいことは以下かなー。</p>
<dl>
<dt>タグ機能</dt>
<dd>まだ記事が少ないからいいけど、記事が多くなったら分類できるようにしたい。<br />

</dd>
<dt>ページネーション</dt>
<dd>これはまあ、特になくてもいいかも。あると便利、くらい。
</dd>
</dl>
<h2 id="追記-2020-07-09">追記 (2020-07-09)</h2>
<p>hakyllでは、記事の頭にタイトルなどのメタ情報を埋め込むことができる。<br />
メタ情報として <code>published: yyyy-mm-dd</code> とかくと、記事にタイムスタンプをつけることができる。<br />
タイムスタンプは、 <code>recentFirst</code> で記事を並べ替えたり、テンプレート内で日付を表示したりといったことに使う。<br />
（<a href="https://hackage.haskell.org/package/hakyll-4.13.4.0/docs/Hakyll-Web-Template-Context.html">https://hackage.haskell.org/package/hakyll-4.13.4.0/docs/Hakyll-Web-Template-Context.html</a> の <code>dateField</code> あたりに書いてある）</p>
            </div>
            <!-- コメント機能は別途追加する -->
            <!-- {% if page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!-- <div id="disqus_thread"> -->
            <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
            <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
            <!-- </div> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <section id="isso-thread"></section> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            </div>
          </div>
          <div class="pagination">
              <!-- ページネーションは別途追加する -->
              <!-- {% if page.next %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
              <!-- {% endif %} -->
              <!-- {% if page.previous %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
              <!-- {% endif %} -->
          </div>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and page.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function() { -->
<!--      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; -->
<!--      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; -->
<!--      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); -->
<!--     })(); -->
<!--   </script> -->
<!-- {% endif %} -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

