<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2021-01-21_intellij_settings_in_first.html">Intellij Ideaの設定ことはじめ</a></li>
        
          <li><a href="./2021-01-02_hls-first-aid.html">Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</a></li>
        
          <li><a href="./2020-11-04_maven-deploy-jar-and-scripts.html">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</a></li>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
            <div class="article">
    <div class="well main">
        <!-- <h1>ブログのテーマを変更した</h1> -->
        <div class="posttitle">ブログのテーマを変更した</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and page.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="post-content">
            <p>hakyllのデフォルトのブログテーマではちょっと味気なかったので、別のブログテーマに変更した。</p>
<p>参考にしたのはこちら。</p>
<ul>
<li><a href="https://matsubara0507.github.io/posts/2016-10-24-changed-design.html">Hakyll で作った GitHub Pages のデザインを変更してみた</a></li>
</ul>
<p>同じく、<a href="http://katychuang.com/hakyll-cssgarden/gallery/">ここ</a>や<a href="https://jaspervdj.be/hakyll/examples.html">このあたり</a>を見てみたが、あまりしっくり来なかったので<a href="http://jekyllthemes.org/">jekyll</a>のテーマから探すことにした。<br />
自分が選択したテーマは<a href="http://jekyllthemes.org/themes/jekyll-clean/">jekyll-clean</a>で、こちらをhakyllで使えるように修正した。</p>
<p>基本的にはmatsubaraさんの記事をなぞれば変換できる・・・のだが、今回私が選んだテーマではひと工夫が必要だった。<br />
割と嵌ってしまったので、どう解決したか書く。</p>
<p>なお、今回は「シンタックスハイライト」及び「configファイル」の対応はやってない。<br />
また、元のテーマにはdisqus及びissoによるコメント機能、google analytics、ページネーションなども実装されていたが、<br />
これらも今回は対応していない（コメントアウトした）。<br />
ゆくゆくは対応したい。</p>
<p>今回対応したテーマは<a href="https://github.com/chupaaaaaaan/chupaaaaaaan.github.io">こちら</a>に置いてある。</p>
<p><!--more--></p>
<h2 id="サイドバーの対応">サイドバーの対応</h2>
<p>画面を見ればわかる（デスクトップで最大化しないと見えないかも・・・）が、今回選んだテーマは、サイドバーに各記事のリンクが貼ってある（Recent Posts）。</p>
<p>単純には、以下のように実装すれば良さそうである。<br />
（ <code>gsubRoute</code> を使って、ルーティングを変更している。）</p>
<div class="sourceCode" id="cb1"><pre class="sourceCode haskell"><code class="sourceCode haskell"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a>match <span class="st">&quot;posts/*&quot;</span> <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a>    route <span class="op">$</span> gsubRoute <span class="st">&quot;posts/&quot;</span> (<span class="fu">const</span> <span class="st">&quot;&quot;</span>) <span class="ot">`composeRoutes`</span> setExtension <span class="st">&quot;html&quot;</span></span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a>    compile <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a>        recentPosts <span class="ot">&lt;-</span> recentFirst <span class="op">=&lt;&lt;</span> loadAll <span class="st">&quot;posts/*&quot;</span></span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>        <span class="kw">let</span> postsCtx <span class="ot">=</span></span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>                listField <span class="st">&quot;recent_posts&quot;</span> postCtx (<span class="fu">return</span> <span class="op">$</span> <span class="fu">take</span> <span class="dv">5</span> recentPosts) <span class="ot">`mappend`</span></span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>                postCtx <span class="ot">`mappend`</span> siteCtx</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a>        pandocCompiler</span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a>          <span class="op">&gt;&gt;=</span> loadAndApplyTemplate <span class="st">&quot;layouts/post.html&quot;</span> postsCtx</span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a>          <span class="op">&gt;&gt;=</span> relativizeUrls</span></code></pre></div>
<p><code>compile</code> でやっていることを説明すると、</p>
<ol>
<li><code>posts/*</code> パターンにマッチするコンテンツを作成日時の降順で <code>recentPosts</code> として取得し、<br />
</li>
<li>（サイドバーで参照する） <code>recent_posts</code> をキーとして、 <code>recentPosts</code> をコンテキストに入れて、<br />
</li>
<li><code>posts/*</code> にマッチするコンテンツを <code>pandocCompiler</code> でコンパイルし、<br />
</li>
<li>出来上がったものを <code>layouts/post.html</code> に突っ込む（テンプレート内で <code>$body$</code> と記載されている箇所に代入される）</li>
</ol>
<p>となる。ところが、これをコンパイルすると、以下のようなエラーが出てしまう。</p>
<pre><code>[ERROR] Hakyll.Core.Runtime.chase: Dependency cycle detected: posts/2020-07-09_first_post.org depends on posts/2020-07-09_first_post.org
</code></pre>
<p>どうやら、循環参照が発生しているというメッセージのようだ。実際、 <code>posts/*</code> をコンパイルする前に <code>recentPosts</code> として取得しようとしている。<br />
取得のためにコンパイルし、その中でさらに取得し・・・とループしてしまう。</p>
<p>この問題は、stackoverflowの記事（<a href="https://stackoverflow.com/questions/35645525/hakyll-says-dependency-cycle-detected">ここ</a>とか<a href="https://stackoverflow.com/questions/47067851/how-do-i-avoid-a-dependency-cycle-when-generating-a-list-of-recent-posts-on-post">ここ</a>とか）が参考になる。<br />
ざっくり言えば、別バージョンのコンテンツを作成し、 <code>recentPosts</code> として取得するコンテンツはこちらのバージョンを使用する。</p>
<div class="sourceCode" id="cb3"><pre class="sourceCode haskell"><code class="sourceCode haskell"><span id="cb3-1"><a href="#cb3-1" aria-hidden="true" tabindex="-1"></a>match <span class="st">&quot;posts/*&quot;</span> <span class="op">$</span> version <span class="st">&quot;postContents&quot;</span> <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb3-2"><a href="#cb3-2" aria-hidden="true" tabindex="-1"></a>  route <span class="op">$</span> gsubRoute <span class="st">&quot;posts/&quot;</span> (<span class="fu">const</span> <span class="st">&quot;&quot;</span>) <span class="ot">`composeRoutes`</span> setExtension <span class="st">&quot;html&quot;</span></span>
<span id="cb3-3"><a href="#cb3-3" aria-hidden="true" tabindex="-1"></a>  compile <span class="op">$</span> pandocCompiler <span class="op">&gt;&gt;=</span> relativizeUrls</span>
<span id="cb3-4"><a href="#cb3-4" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-5"><a href="#cb3-5" aria-hidden="true" tabindex="-1"></a>match <span class="st">&quot;posts/*&quot;</span> <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb3-6"><a href="#cb3-6" aria-hidden="true" tabindex="-1"></a>    route <span class="op">$</span> gsubRoute <span class="st">&quot;posts/&quot;</span> (<span class="fu">const</span> <span class="st">&quot;&quot;</span>) <span class="ot">`composeRoutes`</span> setExtension <span class="st">&quot;html&quot;</span></span>
<span id="cb3-7"><a href="#cb3-7" aria-hidden="true" tabindex="-1"></a>    compile <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb3-8"><a href="#cb3-8" aria-hidden="true" tabindex="-1"></a>        recentPosts <span class="ot">&lt;-</span> recentFirst <span class="op">=&lt;&lt;</span> loadAll (<span class="st">&quot;posts/*&quot;</span> <span class="op">.&amp;&amp;.</span> hasVersion <span class="st">&quot;postContents&quot;</span>)</span>
<span id="cb3-9"><a href="#cb3-9" aria-hidden="true" tabindex="-1"></a>        <span class="kw">let</span> postsCtx <span class="ot">=</span></span>
<span id="cb3-10"><a href="#cb3-10" aria-hidden="true" tabindex="-1"></a>                listField <span class="st">&quot;recent_posts&quot;</span> postCtx (<span class="fu">return</span> <span class="op">$</span> <span class="fu">take</span> <span class="dv">5</span> recentPosts) <span class="ot">`mappend`</span></span>
<span id="cb3-11"><a href="#cb3-11" aria-hidden="true" tabindex="-1"></a>                postCtx <span class="ot">`mappend`</span> siteCtx</span>
<span id="cb3-12"><a href="#cb3-12" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb3-13"><a href="#cb3-13" aria-hidden="true" tabindex="-1"></a>        pandocCompiler</span>
<span id="cb3-14"><a href="#cb3-14" aria-hidden="true" tabindex="-1"></a>          <span class="op">&gt;&gt;=</span> loadAndApplyTemplate <span class="st">&quot;layouts/post.html&quot;</span> postsCtx</span>
<span id="cb3-15"><a href="#cb3-15" aria-hidden="true" tabindex="-1"></a>          <span class="op">&gt;&gt;=</span> relativizeUrls</span></code></pre></div>
<p>注意すべきポイントとしては、別バージョンのコンテンツを作成する際に <code>route</code> も正しく設定する必要がある。<br />
<code>route</code> を省略してもコンパイルエラーにはならないが、 <code>recent_posts</code> として参照したコンテンツへのリンクが作成されない<br />
（ <code>defaultContext</code> に格納される <code>$url$</code> が空になるっぽい）。</p>
<h3 id="ちなみに">ちなみに</h3>
<p>循環参照を解決する手段としては、複数のバージョンのコンテンツを用意する方法の他に、<a href="https://groups.google.com/g/hakyll/c/F2j7iztwKEc/m/axLNmksqCAAJ?pli=1">作者から提案された方法</a>もある。<br />
どうやら、「必要なのはメタデータだけなんだから、それだけ取得すればよくね？」ということみたいなのだが、<br />
どうやればよいのかよくわからなかったので、今回は不採用。</p>
<p>hakyllに出てくる <code>Context a</code> 、 <code>Item a</code> 、 <code>Compiler a</code> などは重要な概念っぽいのだが、まだよくわかってない・・・。</p>
<p><strong>(2021/12/30 追記)</strong><br />
実際にやってみた。<br />
<a href="https://github.com/chupaaaaaaan/chupaaaaaaan.github.io/commit/d646500e2d00b929a6d2f1c8101ed4f5329fffd7">https://github.com/chupaaaaaaan/chupaaaaaaan.github.io/commit/d646500e2d00b929a6d2f1c8101ed4f5329fffd7</a></p>
<p><code>getMatches</code> で <code>Identifier</code> を取り出して、空の <code>itemBody</code> を持つ <code>Item a</code> に詰め込み、それを使って <code>Context</code> を組み立てればよい。<br />
ただ、この方法だと、記事の一覧を日付順に並べるところで <code>resource busy (file is locked)</code> が出力されるため、少し工夫が必要となる。</p>
<p>具体的には、 <code>recentFirst</code> で呼び出している <code>getItemUTC</code> を少し書き換え、タイムスタンプ取得時にファイルを開かないようにする。<br />
（このブログでは、記事ファイル名の先頭にタイムスタンプを付与するようにしているので、ファイル内の <code>Metadata</code> を読み込んでタイムスタンプを取得する必要がない）</p>
<p>ただ、この方法でも微妙に不安定（まれに <code>resource busy (file is locked)</code> が発生する）なのと、<br />
別バージョンを作る方法で特に不都合はないので、この方法はやめた。</p>
<h2 id="コンテンツの表示">コンテンツの表示</h2>
<p>上記で循環参照のエラーはなくなるが、まだ問題はある。</p>
<p>ドキュメントルート（ <code>index.html</code> ）では、以下のコンテンツが表示される。</p>
<ul>
<li>サイドバー
<ul>
<li>Description<br />
</li>
<li>Recent Posts<br />
</li>
<li>Links</li>
</ul></li>
<li>メインコンテンツ
<ul>
<li>最新のコンテンツから順に表示</li>
</ul></li>
</ul>
<p>最初、以下のように実装していた。</p>
<div class="sourceCode" id="cb4"><pre class="sourceCode haskell"><code class="sourceCode haskell"><span id="cb4-1"><a href="#cb4-1" aria-hidden="true" tabindex="-1"></a>match (fromList [<span class="st">&quot;archive.html&quot;</span>, <span class="st">&quot;about.html&quot;</span>, <span class="st">&quot;index.html&quot;</span>, <span class="st">&quot;links.html&quot;</span>]) <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb4-2"><a href="#cb4-2" aria-hidden="true" tabindex="-1"></a>    route idRoute</span>
<span id="cb4-3"><a href="#cb4-3" aria-hidden="true" tabindex="-1"></a>    compile <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb4-4"><a href="#cb4-4" aria-hidden="true" tabindex="-1"></a>        posts <span class="ot">&lt;-</span> recentFirst <span class="op">=&lt;&lt;</span> loadAll <span class="st">&quot;posts/*&quot;</span></span>
<span id="cb4-5"><a href="#cb4-5" aria-hidden="true" tabindex="-1"></a>        <span class="kw">let</span> postsCtx <span class="ot">=</span></span>
<span id="cb4-6"><a href="#cb4-6" aria-hidden="true" tabindex="-1"></a>                listField <span class="st">&quot;recent_posts&quot;</span> postCtx (<span class="fu">return</span> <span class="op">$</span> <span class="fu">take</span> <span class="dv">5</span> posts) <span class="ot">`mappend`</span></span>
<span id="cb4-7"><a href="#cb4-7" aria-hidden="true" tabindex="-1"></a>                listField <span class="st">&quot;posts&quot;</span> postCtx (<span class="fu">return</span> posts) <span class="ot">`mappend`</span></span>
<span id="cb4-8"><a href="#cb4-8" aria-hidden="true" tabindex="-1"></a>                siteCtx</span>
<span id="cb4-9"><a href="#cb4-9" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb4-10"><a href="#cb4-10" aria-hidden="true" tabindex="-1"></a>        getResourceBody</span>
<span id="cb4-11"><a href="#cb4-11" aria-hidden="true" tabindex="-1"></a>            <span class="op">&gt;&gt;=</span> applyAsTemplate postsCtx</span>
<span id="cb4-12"><a href="#cb4-12" aria-hidden="true" tabindex="-1"></a>            <span class="op">&gt;&gt;=</span> loadAndApplyTemplate <span class="st">&quot;layouts/default.html&quot;</span> postsCtx</span>
<span id="cb4-13"><a href="#cb4-13" aria-hidden="true" tabindex="-1"></a>            <span class="op">&gt;&gt;=</span> relativizeUrls</span></code></pre></div>
<p>今回は循環参照にはならないので、 <code>posts &lt;- recentFirst =&lt;&lt; loadAll "posts/*"</code> のように書いてもコンパイルエラーにはならない。</p>
<p>が、このように書いてしまうと、2つの問題が発生する。</p>
<ol>
<li>Recent Postsに、同じコンテンツへのリンクが2つ表示される<br />
</li>
<li>コンテンツが表示される領域に、（サイドバーを含めて）コンテンツがネストされて表示される（ちょっと説明が難しい・・・）</li>
</ol>
<p>ひとつめの問題は、 <code>posts &lt;- recentFirst =&lt;&lt; loadAll "posts/*"</code> のように書いた時に、<br />
<code>posts/*</code> にマッチする全てのコンテンツが取得されてしまうことが原因である。<br />
つまり、バージョン指定なしでコンパイルしたコンテンツと、バージョンを明示したコンテンツのどちらにもマッチしてしまう。<br />
これを防ぐためには、バージョン指定するか、明示的にバージョンが存在しないコンテンツにマッチするように書く必要がある。</p>
<p>こんな感じ。</p>
<div class="sourceCode" id="cb5"><pre class="sourceCode haskell"><code class="sourceCode haskell"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a>posts <span class="ot">&lt;-</span> recentFirst <span class="op">=&lt;&lt;</span> loadAll (<span class="st">&quot;posts/*&quot;</span> <span class="op">.&amp;&amp;.</span> hasNoVersion)</span></code></pre></div>
<p>ふたつめの問題は、 <code>posts/*</code> （のバージョンなし版）にマッチするコンテンツは、既にサイドバーも含めてコンパイル済みであることから来ている<br />
（そのようなコンテンツをテンプレートに埋め込もうとするため、コンテンツがネストされてしまう）。<br />
そのため、テンプレートを適用する前で止めたバージョンのコンテンツ（サイドバーやヘッダーがくっついていない）を取得し、<br />
それを使用してコンパイル・テンプレート埋め込みを実施すればよい。</p>
<p>今回で言えば、 <code>postContents</code> のバージョンがテンプレートを適用していないコンテンツであるため、そちらを取得すればよい。</p>
<p>最終的には、こんな感じ（ <code>hasNoVersion</code> は使用しない）。</p>
<div class="sourceCode" id="cb6"><pre class="sourceCode haskell"><code class="sourceCode haskell"><span id="cb6-1"><a href="#cb6-1" aria-hidden="true" tabindex="-1"></a>match (fromList [<span class="st">&quot;index.html&quot;</span>]) <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb6-2"><a href="#cb6-2" aria-hidden="true" tabindex="-1"></a>    route idRoute</span>
<span id="cb6-3"><a href="#cb6-3" aria-hidden="true" tabindex="-1"></a>    compile <span class="op">$</span> <span class="kw">do</span></span>
<span id="cb6-4"><a href="#cb6-4" aria-hidden="true" tabindex="-1"></a>        posts <span class="ot">&lt;-</span> recentFirst <span class="op">=&lt;&lt;</span> loadAll (<span class="st">&quot;posts/*&quot;</span> <span class="op">.&amp;&amp;.</span> hasVersion <span class="st">&quot;postContents&quot;</span>)</span>
<span id="cb6-5"><a href="#cb6-5" aria-hidden="true" tabindex="-1"></a>        <span class="kw">let</span> postsCtx <span class="ot">=</span></span>
<span id="cb6-6"><a href="#cb6-6" aria-hidden="true" tabindex="-1"></a>                listField <span class="st">&quot;recent_posts&quot;</span> postCtx (<span class="fu">return</span> <span class="op">$</span> <span class="fu">take</span> <span class="dv">5</span> posts) <span class="ot">`mappend`</span></span>
<span id="cb6-7"><a href="#cb6-7" aria-hidden="true" tabindex="-1"></a>                listField <span class="st">&quot;posts&quot;</span> postCtx (<span class="fu">return</span> posts) <span class="ot">`mappend`</span></span>
<span id="cb6-8"><a href="#cb6-8" aria-hidden="true" tabindex="-1"></a>                siteCtx</span>
<span id="cb6-9"><a href="#cb6-9" aria-hidden="true" tabindex="-1"></a></span>
<span id="cb6-10"><a href="#cb6-10" aria-hidden="true" tabindex="-1"></a>        getResourceBody</span>
<span id="cb6-11"><a href="#cb6-11" aria-hidden="true" tabindex="-1"></a>            <span class="op">&gt;&gt;=</span> applyAsTemplate postsCtx</span>
<span id="cb6-12"><a href="#cb6-12" aria-hidden="true" tabindex="-1"></a>            <span class="op">&gt;&gt;=</span> loadAndApplyTemplate <span class="st">&quot;layouts/default.html&quot;</span> postsCtx</span>
<span id="cb6-13"><a href="#cb6-13" aria-hidden="true" tabindex="-1"></a>            <span class="op">&gt;&gt;=</span> relativizeUrls</span></code></pre></div>
<h3 id="ちなみにその2">ちなみにその2</h3>
<p>テンプレートを適用する前のコンテンツを取得する方法としては、別バージョンの記事を使用する代わりに<a href="https://jaspervdj.be/hakyll/tutorials/05-snapshots-feeds.html">スナップショットを利用する方法</a>もある。<br />
こっちの方が、コンパイルを余計に実施しない分効率が良さそうだが、既に循環参照を解決するために別バージョンのコンテンツを作成しているので、<br />
スナップショット方式は採用していない。</p>
<h2 id="終わりに">終わりに</h2>
<p>とりあえず見た目はなんとかなった。いじってみると、かなり自由度高くカスタマイズ出来そうなので、ちょこちょこ変えていこうかな。</p>
        </div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if page.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!-- <div id="disqus_thread"> -->
        <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
        <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
        <!-- </div> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <section id="isso-thread"></section> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
    </div>
</div>
<div class="pagination">
    <!-- ページネーションは別途追加する -->
    <!-- {% if page.next %} -->
    <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
    <!-- {% endif %} -->
    <!-- {% if page.previous %} -->
    <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
    <!-- {% endif %} -->
</div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

