<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2021-01-21_intellij_settings_in_first.html">Intellij Ideaの設定ことはじめ</a></li>
        
          <li><a href="./2021-01-02_hls-first-aid.html">Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</a></li>
        
          <li><a href="./2020-11-04_maven-deploy-jar-and-scripts.html">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</a></li>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
            <div class="article">
    <div class="well main">
        <!-- <h1>maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</h1> -->
        <div class="posttitle">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and page.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="post-content">
            <p>Mavenで、アーティファクトと実行用スクリプト等を含んだアーカイブを作成しようとしたとき、<br />
真っ先に思いつくのがmaven-assembly-pluginを使用することだと思う。</p>
<p>今回、 (展開するだけでデプロイできるように) 実行可能jarや実行用スクリプトをアーカイブしようとして、<br />
少しハマってしまったので、実施方法をメモしておく。</p>
<p>今回は、実行可能jarを</p>
<ul>
<li>依存関係を含まない、単体のjarとして作成する場合<br />
</li>
<li>uber-jarとして作成する場合 (maven-assembly-pluginを使用)<br />
</li>
<li>uber-jarとして作成する場合 (maven-shade-pluginを使用)</li>
</ul>
<p>の3パターンで作成してみる。</p>
<p><!--more--></p>
<h2 id="maven-assembly-pluginとは">maven-assembly-pluginとは</h2>
<p><a href="http://maven.apache.org/plugins/maven-assembly-plugin/index.html">http://maven.apache.org/plugins/maven-assembly-plugin/index.html</a></p>
<p>ファイルやディレクトリをかき集めてきて、指定の形式にアーカイブするためのプラグイン。<br />
今回は、実行可能jarと実行用スクリプトをtar.gz形式でアーカイブする。</p>
<p>アーカイブ設定は、<a href="http://maven.apache.org/plugins/maven-assembly-plugin/descriptor-refs.html">事前定義された設定</a>を使用する他に、独自定義を使用することもできる。<br />
前者の場合は <code>pom.xml</code> に設定を記載するだけで良いが、後者の場合は、 <a href="http://maven.apache.org/plugins/maven-assembly-plugin/assembly.html">Assembly Descriptor Format</a>にしたがって<br />
設定ファイルを作成する必要がある。</p>
<h2 id="プロジェクト構成">プロジェクト構成</h2>
<p>今回は、 <code>maven-archetype-quickstart</code> アーキタイプを元に、以下のようなプロジェクト構成とした (テストは省略) 。<br />
なお、依存関係が存在するjarでの確認をしたいため、実行時に必要な依存関係として、LogBackを追加している。</p>
<div class="sourceCode" id="cb1" data-org-language="sh"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb1-1"><a href="#cb1-1" aria-hidden="true" tabindex="-1"></a><span class="ex">assemblytest</span></span>
<span id="cb1-2"><a href="#cb1-2" aria-hidden="true" tabindex="-1"></a><span class="ex">├──</span> distribution.xml</span>
<span id="cb1-3"><a href="#cb1-3" aria-hidden="true" tabindex="-1"></a><span class="ex">├──</span> pom.xml</span>
<span id="cb1-4"><a href="#cb1-4" aria-hidden="true" tabindex="-1"></a><span class="ex">└──</span> src</span>
<span id="cb1-5"><a href="#cb1-5" aria-hidden="true" tabindex="-1"></a>    <span class="ex">├──</span> main</span>
<span id="cb1-6"><a href="#cb1-6" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span> └── java</span>
<span id="cb1-7"><a href="#cb1-7" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span>     └── com</span>
<span id="cb1-8"><a href="#cb1-8" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span>         └── myapp</span>
<span id="cb1-9"><a href="#cb1-9" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span>             └── App.java</span>
<span id="cb1-10"><a href="#cb1-10" aria-hidden="true" tabindex="-1"></a>    <span class="ex">├──</span> shellscript</span>
<span id="cb1-11"><a href="#cb1-11" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span> ├── bin</span>
<span id="cb1-12"><a href="#cb1-12" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span> │   └── test.sh</span>
<span id="cb1-13"><a href="#cb1-13" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span> ├── conf</span>
<span id="cb1-14"><a href="#cb1-14" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span> │   └── common.sh</span>
<span id="cb1-15"><a href="#cb1-15" aria-hidden="true" tabindex="-1"></a>    <span class="ex">│  </span> └── deploy.sh</span>
<span id="cb1-16"><a href="#cb1-16" aria-hidden="true" tabindex="-1"></a>    <span class="ex">└──</span> test</span>
<span id="cb1-17"><a href="#cb1-17" aria-hidden="true" tabindex="-1"></a>        <span class="ex">└──</span> java</span>
<span id="cb1-18"><a href="#cb1-18" aria-hidden="true" tabindex="-1"></a>            <span class="ex">└──</span> com</span>
<span id="cb1-19"><a href="#cb1-19" aria-hidden="true" tabindex="-1"></a>                <span class="ex">└──</span> myapp</span>
<span id="cb1-20"><a href="#cb1-20" aria-hidden="true" tabindex="-1"></a>                    <span class="ex">└──</span> AppTest.java</span></code></pre></div>
<p>各ファイルの説明は以下の通り。</p>
<ul>
<li><p><code>distribution.xml</code> は、maven-assembly-pluginが使用する独自定義のアーカイブ設定。ファイル名は任意で、プラグイン設定に記載する。</p></li>
<li><p><code>deploy.sh</code> はデプロイ用スクリプトで、実行すると <code>app/</code> がデプロイ先に配置される。</p></li>
<li><p>デプロイ後、 <code>test.sh</code> を実行すると、 <code>common.sh</code> を読み込んでから <code>assemblytest.jar</code> を実行する。</p></li>
</ul>
<h2 id="実行可能jarを単体のjarとする場合のアーカイブ構成">実行可能jarを単体のjarとする場合のアーカイブ構成</h2>
<p>最終的なアーカイブは、以下のような構成になっているようにする。</p>
<div class="sourceCode" id="cb2" data-org-language="sh"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb2-1"><a href="#cb2-1" aria-hidden="true" tabindex="-1"></a><span class="ex">deployment.tar.gz</span></span>
<span id="cb2-2"><a href="#cb2-2" aria-hidden="true" tabindex="-1"></a><span class="ex">├──</span> app</span>
<span id="cb2-3"><a href="#cb2-3" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> ├── java</span>
<span id="cb2-4"><a href="#cb2-4" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> │   ├── assemblytest.jar</span>
<span id="cb2-5"><a href="#cb2-5" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> │   └── deplib</span>
<span id="cb2-6"><a href="#cb2-6" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> │       ├── logback-classic-1.1.3.jar</span>
<span id="cb2-7"><a href="#cb2-7" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> │       ├── logback-core-1.1.3.jar</span>
<span id="cb2-8"><a href="#cb2-8" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> │       └── slf4j-api-1.7.7.jar</span>
<span id="cb2-9"><a href="#cb2-9" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> └── script</span>
<span id="cb2-10"><a href="#cb2-10" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>     ├── bin</span>
<span id="cb2-11"><a href="#cb2-11" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>     │   └── test.sh</span>
<span id="cb2-12"><a href="#cb2-12" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>     └── conf</span>
<span id="cb2-13"><a href="#cb2-13" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>         └── common.sh</span>
<span id="cb2-14"><a href="#cb2-14" aria-hidden="true" tabindex="-1"></a><span class="ex">└──</span> deploy.sh</span></code></pre></div>
<p>この構成とする場合の <code>pom.xml</code> 及び <code>distribution.xml</code> は以下。</p>
<dl>
<dt><code>pom.xml</code></dt>
<dd><p><a href="https://gist.github.com/chupaaaaaaan/0a3cab43fb2148af696eb8178b89509d#file-pom-xml">https://gist.github.com/chupaaaaaaan/0a3cab43fb2148af696eb8178b89509d#file-pom-xml</a></p>
</dd>
<dt><code>distribution.xml</code></dt>
<dd><a href="https://gist.github.com/chupaaaaaaan/0a3cab43fb2148af696eb8178b89509d#file-distribution-xml">https://gist.github.com/chupaaaaaaan/0a3cab43fb2148af696eb8178b89509d#file-distribution-xml</a>
</dd>
</dl>
<h3 id="pom.xml"><code>pom.xml</code></h3>
<p>以下に、プラグインのアーカイブ関連設定部分を抜粋した。</p>
<pre><code>&lt;build&gt;
  &lt;plugins&gt;
    &lt;plugin&gt;
      &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
      &lt;artifactId&gt;maven-jar-plugin&lt;/artifactId&gt;
      &lt;configuration&gt;
        &lt;archive&gt;
          &lt;manifest&gt;
            &lt;addClasspath&gt;true&lt;/addClasspath&gt;
            &lt;classpathPrefix&gt;deplib/&lt;/classpathPrefix&gt;
            &lt;mainClass&gt;com.myapp.App&lt;/mainClass&gt;
          &lt;/manifest&gt;
        &lt;/archive&gt;
      &lt;/configuration&gt;
    &lt;/plugin&gt;
    &lt;plugin&gt;
      &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
      &lt;artifactId&gt;maven-assembly-plugin&lt;/artifactId&gt;
      &lt;executions&gt;
        &lt;execution&gt;
          &lt;phase&gt;package&lt;/phase&gt;
          &lt;goals&gt;
            &lt;goal&gt;single&lt;/goal&gt;
          &lt;/goals&gt;
          &lt;configuration&gt;
            &lt;descriptors&gt;
              &lt;descriptor&gt;distribution.xml&lt;/descriptor&gt;
            &lt;/descriptors&gt;
            &lt;finalName&gt;apparchive&lt;/finalName&gt;
            &lt;appendAssemblyId&gt;false&lt;/appendAssemblyId&gt;
          &lt;/configuration&gt;
        &lt;/execution&gt;
      &lt;/executions&gt;
    &lt;/plugin&gt;
  &lt;/plugins&gt;
&lt;/build&gt;
</code></pre>
<p><code>maven-assembly-plugin</code> の前段で <code>maven-jar-plugin</code> の設定をしている (いずれも <code>package</code> フェーズに実行されるが、前段にある方が早く実行される) 。<br />
<code>maven-jar-plugin</code> で、 <code>META-INF/MANIFEST.MF</code> にクラスパスを追記・エントリポイントを追記するように設定することで、実行可能jarとなる。</p>
<h3 id="distribution.xml"><code>distribution.xml</code></h3>
<p>スクリプトや依存関係をまとめて一つのアーカイブにする設定は以下。</p>
<pre><code>&lt;files&gt;
  &lt;!-- 実行可能jar --&gt;
  &lt;file&gt;
    &lt;source&gt;target/${project.build.finalName}.jar&lt;/source&gt;
    &lt;destName&gt;${project.artifactId}.jar&lt;/destName&gt;
    &lt;outputDirectory&gt;app/java&lt;/outputDirectory&gt;
    &lt;fileMode&gt;644&lt;/fileMode&gt;
  &lt;/file&gt;
  &lt;!-- デプロイ用スクリプト --&gt;
  &lt;file&gt;
    &lt;source&gt;src/shellscript/deploy.sh&lt;/source&gt;
    &lt;fileMode&gt;755&lt;/fileMode&gt;
  &lt;/file&gt;
&lt;/files&gt;
&lt;fileSets&gt;
  &lt;!-- 設定ファイル --&gt;
  &lt;fileSet&gt;
    &lt;directory&gt;src/shellscript/conf&lt;/directory&gt;
    &lt;outputDirectory&gt;app/script/conf&lt;/outputDirectory&gt;
    &lt;includes&gt;
      &lt;include&gt;*.sh&lt;/include&gt;
    &lt;/includes&gt;
    &lt;fileMode&gt;644&lt;/fileMode&gt;
    &lt;directoryMode&gt;755&lt;/directoryMode&gt;
    &lt;lineEnding&gt;unix&lt;/lineEnding&gt;
  &lt;/fileSet&gt;
  &lt;!-- jar実行用スクリプト --&gt;
  &lt;fileSet&gt;
    &lt;directory&gt;src/shellscript/bin&lt;/directory&gt;
    &lt;outputDirectory&gt;app/script/bin&lt;/outputDirectory&gt;
    &lt;includes&gt;
      &lt;include&gt;*.sh&lt;/include&gt;
    &lt;/includes&gt;
    &lt;fileMode&gt;755&lt;/fileMode&gt;
    &lt;directoryMode&gt;755&lt;/directoryMode&gt;
    &lt;lineEnding&gt;unix&lt;/lineEnding&gt;
  &lt;/fileSet&gt;
&lt;/fileSets&gt;
&lt;dependencySets&gt;
  &lt;dependencySet&gt;
    &lt;useProjectArtifact&gt;false&lt;/useProjectArtifact&gt;
    &lt;outputDirectory&gt;app/java/deplib&lt;/outputDirectory&gt;
  &lt;/dependencySet&gt;
&lt;/dependencySets&gt;
</code></pre>
<p><code>dependencySet</code> を定義することで、依存関係にあるアーティファクトを一つにまとめて配置できる。<br />
<code>pom.xml</code> で <code>classpathPrefix</code> を <code>deplib</code> と設定したので、<br />
こちらでも依存関係のディレクトリが実行可能jarから見て <code>deplib</code> になるよう、 <code>outputDirectory</code> を設定する必要がある。</p>
<h2 id="実行可能jarをuber-jarとする場合のアーカイブ構成-maven-assembly-plugin使用">実行可能jarをuber-jarとする場合のアーカイブ構成 (maven-assembly-plugin使用)</h2>
<p>最終的なアーカイブは、以下のような構成になっているようにする。</p>
<div class="sourceCode" id="cb5" data-org-language="sh"><pre class="sourceCode bash"><code class="sourceCode bash"><span id="cb5-1"><a href="#cb5-1" aria-hidden="true" tabindex="-1"></a><span class="ex">deployment/</span></span>
<span id="cb5-2"><a href="#cb5-2" aria-hidden="true" tabindex="-1"></a><span class="ex">├──</span> app</span>
<span id="cb5-3"><a href="#cb5-3" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> ├── java</span>
<span id="cb5-4"><a href="#cb5-4" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> │   └── assemblytest.jar</span>
<span id="cb5-5"><a href="#cb5-5" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span> └── script</span>
<span id="cb5-6"><a href="#cb5-6" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>     ├── bin</span>
<span id="cb5-7"><a href="#cb5-7" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>     │   └── test.sh</span>
<span id="cb5-8"><a href="#cb5-8" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>     └── conf</span>
<span id="cb5-9"><a href="#cb5-9" aria-hidden="true" tabindex="-1"></a><span class="ex">│  </span>         └── common.sh</span>
<span id="cb5-10"><a href="#cb5-10" aria-hidden="true" tabindex="-1"></a><span class="ex">└──</span> deploy.sh</span></code></pre></div>
<p>この構成とする場合の <code>pom.xml</code> 及び <code>distribution.xml</code> は以下。</p>
<dl>
<dt><code>pom.xml</code></dt>
<dd><p><a href="https://gist.github.com/chupaaaaaaan/e4b1cb9291c21c20b81e4a6bfa43f513#file-pom-xml">https://gist.github.com/chupaaaaaaan/e4b1cb9291c21c20b81e4a6bfa43f513#file-pom-xml</a></p>
</dd>
<dt><code>distribution.xml</code></dt>
<dd><a href="https://gist.github.com/chupaaaaaaan/e4b1cb9291c21c20b81e4a6bfa43f513#file-distribution-xml">https://gist.github.com/chupaaaaaaan/e4b1cb9291c21c20b81e4a6bfa43f513#file-distribution-xml</a>
</dd>
</dl>
<h3 id="pom.xml-1"><code>pom.xml</code></h3>
<p>以下に、プラグインのアーカイブ関連設定部分を抜粋した。</p>
<pre><code>&lt;/build&gt;
  &lt;plugins&gt;
    &lt;plugin&gt;
      &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
      &lt;artifactId&gt;maven-assembly-plugin&lt;/artifactId&gt;
      &lt;executions&gt;
        &lt;execution&gt;
          &lt;id&gt;make-uber-jar&lt;/id&gt;
          &lt;phase&gt;package&lt;/phase&gt;
          &lt;goals&gt;
            &lt;goal&gt;single&lt;/goal&gt;
          &lt;/goals&gt;
          &lt;configuration&gt;
            &lt;descriptorRefs&gt;
              &lt;descriptorRef&gt;jar-with-dependencies&lt;/descriptorRef&gt;
            &lt;/descriptorRefs&gt;
            &lt;archive&gt;
              &lt;manifest&gt;
                &lt;mainClass&gt;com.myapp.App&lt;/mainClass&gt;
              &lt;/manifest&gt;
            &lt;/archive&gt;
            &lt;appendAssemblyId&gt;false&lt;/appendAssemblyId&gt;
          &lt;/configuration&gt;
        &lt;/execution&gt;
        &lt;execution&gt;
          &lt;id&gt;make-assembly&lt;/id&gt;
          &lt;phase&gt;package&lt;/phase&gt;
          &lt;goals&gt;
            &lt;goal&gt;single&lt;/goal&gt;
          &lt;/goals&gt;
          &lt;configuration&gt;
            &lt;descriptors&gt;
              &lt;descriptor&gt;distribution.xml&lt;/descriptor&gt;
            &lt;/descriptors&gt;
            &lt;finalName&gt;apparchive&lt;/finalName&gt;
            &lt;appendAssemblyId&gt;false&lt;/appendAssemblyId&gt;
          &lt;/configuration&gt;
        &lt;/execution&gt;
      &lt;/executions&gt;
    &lt;/plugin&gt;
  &lt;/plugins&gt;
&lt;/build&gt;
</code></pre>
<p><code>maven-jar-plugin</code> ではuber-jarを作成できないので、 <code>maven-assembly-plugin</code> でuber-jarを作成する。<br />
<code>id</code> を異なるものにすれば、同じフェーズで同じゴールを実行できるので、それを利用して最初にuber-jarを作成し、<br />
そのあとでアーカイブにまとめる(これも記載の順番で実行されるみたい)。<br />
また、 <code>manifest</code> の設定はエントリポイントだけで良い (uber-jarの中に、全てのclassファイルが存在するため) 。</p>
<p>ちなみに、 <code>appendAssemblyId</code> を <code>true</code> にすると、成果物ファイル名に <code>-jar-with-dependencies</code> が付与される。<br />
<code>finalName</code> と組み合わせ、成果物ファイル名は自由に設定できる。</p>
<h3 id="distribution.xml-1"><code>distribution.xml</code></h3>
<p>設定内容自体は、<span class="spurious-link" target="*~distribution.xml~"><em>実行可能jarを単体のjarとする場合のアーカイブ構成</em></span>の場合とほとんど変わらない。<br />
変更点は、依存関係が全て一つのjarにまとまっているため、 <code>dependencySet</code> が不要となることくらいである<br />
(もちろん、成果物ファイル名を <code>${project.artifactId}.jar</code> 以外にする場合は合わせて変更が必要) 。</p>
<h2 id="実行可能jarをuber-jarとする場合-maven-shade-plugin使用">実行可能jarをuber-jarとする場合 (maven-shade-plugin使用)</h2>
<p>この場合のアーカイブ構成は、maven-assembly-pluginを使用する場合と同じ。<br />
<code>distribution.xml</code> も変更はない。</p>
<p>maven-shade-pluginを使用するときの <code>pom.xml</code> は以下。</p>
<dl>
<dt><code>pom.xml</code></dt>
<dd><a href="https://gist.github.com/chupaaaaaaan/4411be3e2e9f367f809845fc3140f973#file-pom-xml">https://gist.github.com/chupaaaaaaan/4411be3e2e9f367f809845fc3140f973#file-pom-xml</a>
</dd>
</dl>
<h3 id="pom.xml-2"><code>pom.xml</code></h3>
<p>以下に、プラグインのアーカイブ関連設定部分を抜粋した。</p>
<pre><code>&lt;build&gt;
  &lt;plugins&gt;
    &lt;plugin&gt;
      &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
      &lt;artifactId&gt;maven-shade-plugin&lt;/artifactId&gt;
      &lt;executions&gt;
        &lt;execution&gt;
          &lt;phase&gt;package&lt;/phase&gt;
          &lt;goals&gt;
            &lt;goal&gt;shade&lt;/goal&gt;
          &lt;/goals&gt;
          &lt;configuration&gt;
            &lt;minimizeJar&gt;true&lt;/minimizeJar&gt;
            &lt;transformers&gt;
              &lt;transformer implementation=&quot;org.apache.maven.plugins.shade.resource.ManifestResourceTransformer&quot;&gt;
                &lt;mainClass&gt;com.myapp.App&lt;/mainClass&gt;
              &lt;/transformer&gt;
            &lt;/transformers&gt;
          &lt;/configuration&gt;
        &lt;/execution&gt;
      &lt;/executions&gt;
    &lt;/plugin&gt;
    &lt;plugin&gt;
      &lt;groupId&gt;org.apache.maven.plugins&lt;/groupId&gt;
      &lt;artifactId&gt;maven-assembly-plugin&lt;/artifactId&gt;
      &lt;executions&gt;
        &lt;execution&gt;
          &lt;id&gt;make-assembly&lt;/id&gt;
          &lt;phase&gt;package&lt;/phase&gt;
          &lt;goals&gt;
            &lt;goal&gt;single&lt;/goal&gt;
          &lt;/goals&gt;
          &lt;configuration&gt;
            &lt;descriptors&gt;
              &lt;descriptor&gt;distribution.xml&lt;/descriptor&gt;
            &lt;/descriptors&gt;
            &lt;finalName&gt;apparchive&lt;/finalName&gt;
            &lt;appendAssemblyId&gt;false&lt;/appendAssemblyId&gt;
          &lt;/configuration&gt;
        &lt;/execution&gt;
      &lt;/executions&gt;
    &lt;/plugin&gt;
  &lt;/plugins&gt;
&lt;/build&gt;
</code></pre>
<p><a href="https://maven.apache.org/plugins/maven-shade-plugin/index.html">maven-shade-plugin</a>は、</p>
<blockquote>
<p>This plugin provides the capability to package the artifact in an uber-jar, including its dependencies and to shade - i.e. rename - the packages of some of the dependencies.</p>
</blockquote>
<p>とあるように、dependency hellを避けるためにパッケージ名のリネームをしたりクラスの除外をしたりするためのプラグインだが (<a href="https://qiita.com/autotaker1984/items/9265b28553e74a9a8fb0">参考</a>) 、<br />
いわゆる <strong>minimized JAR</strong> を作るのにも使用できる。<br />
今回は、実行可能なminimized JARを作ってみた。</p>
<p>実際、JARのサイズを表示してみると、maven-assembly-pluginで作成した方は747KBだったところ、<br />
minimized JARとして作成した場合は493KBとなり、小さくなっている。</p>
<h2 id="終わりに">終わりに</h2>
<p>やってみればなるほど、という感じ。<br />
同じフェーズに紐づけられたゴールは、 <code>pom.xml</code> 内の記載順に実行されるようなので、これを踏まえると<br />
結構簡単にパッケージングを制御できそう。</p>
        </div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if page.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!-- <div id="disqus_thread"> -->
        <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
        <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
        <!-- </div> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <section id="isso-thread"></section> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
    </div>
</div>
<div class="pagination">
    <!-- ページネーションは別途追加する -->
    <!-- {% if page.next %} -->
    <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
    <!-- {% endif %} -->
    <!-- {% if page.previous %} -->
    <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
    <!-- {% endif %} -->
</div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

