<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2021-01-21_intellij_settings_in_first.html">Intellij Ideaの設定ことはじめ</a></li>
        
          <li><a href="./2021-01-02_hls-first-aid.html">Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</a></li>
        
          <li><a href="./2020-11-04_maven-deploy-jar-and-scripts.html">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</a></li>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well main">
              <h1>Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</h1>
            <!-- コメント機能は別途追加する -->
            <!-- {% if site.comments and page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            <div class="post-content">
            <p>私は、普段Haskellを触るとき、 GHCUP + Haskell Language Server (HLS) + Emacs (lsp-mode) という組み合わせを使っている。<br />
HLSは、平たく言えばエディタにHaskellのIDEを提供するバックエンドである。<br />
そのIDEとしての機能の一つに、HLintで検出された修正候補をソースコードに適用させる、というものがある。<br />
（lsp-modeを特にカスタマイズせず使っていれば、修正候補にカーソルを合わせた上で <code>s-l a a</code> のキーバインドでコードアクションから実行できる）</p>
<p>ところが、本記事執筆時点では、以下のようなメッセージが出て実行に失敗する。</p>
<pre class="example"><code>LSP :: Please open an issue in lsp-mode for implementing `53796:hlint:applyAll'.
</code></pre>
<p>今回は、上記に対応し、修正候補の適用ができるようにする手順をメモしておく。<br />
ただし、後にも述べるが、上記のメッセージはHLSの不具合に起因しているっぽい。<br />
そのため、ゆくゆくbugfixが行われたら必要なくなるかもしれない。</p>
<p>以下、今回の環境。なお、Elispパッケージは最新化してある。</p>
<pre class="shell"><code>$ uname -a
Darwin tsukihigai.local 20.2.0 Darwin Kernel Version 20.2.0: Wed Dec  2 20:39:59 PST 2020; root:xnu-7195.60.75~1/RELEASE_X86_64 x86_64

$ ghcup --version
The GHCup Haskell installer, version v0.1.12

$ ghc --version
The Glorious Glasgow Haskell Compilation System, version 8.8.4

$ haskell-language-server-wrapper --version
haskell-language-server version: 0.7.1.0 (GHC: 8.10.1) (PATH: /Users/t-uchida/.ghcup/bin/haskell-language-server-wrapper-0.7.1) (GIT hash: e4f677e1780fe85a02b99a09404a0a3c3ab5ce7c)

$ emacs --version
GNU Emacs 27.1
Copyright (C) 2020 Free Software Foundation, Inc.
GNU Emacs comes with ABSOLUTELY NO WARRANTY.
You may redistribute copies of GNU Emacs
under the terms of the GNU General Public License.
For more information about these matters, see the file named COPYING.
</code></pre>
<p><!--more--></p>
<h1 id="直接の原因">直接の原因</h1>
<p>まず、上記のエラーメッセージだけではよくわからないので、 <code>*lsp-haskell::stderr*</code> バッファを見てみる。すると、以下のようなメッセージが出力されている。</p>
<pre><code>/Users/runner/.ghcup/ghc/8.8.4/lib/ghc-8.8.4/settings: openFile: does not exist (No such file or directory)
</code></pre>
<p>ちなみに、試しに Ubuntu (focal) で試してみたところ、以下のようになった。</p>
<pre><code>/opt/ghc/8.8.4/lib/ghc-8.8.4/settings: openFile: does not exist (No such file or directory)
</code></pre>
<p>何やら見たことがないユーザのファイルを参照しようとして、そのせいで落ちているように見える。<br />
そのため、上記のファイルを作ってみる。<br />
なお、 <code>~/.ghcup/ghc/8.8.4/lib/ghc-8.8.4/settings</code> 自体は存在するので、ディレクトリを掘ってシンボリックリンクを置く。</p>
<p>（ <code>settings</code> 以外にも、当該ディレクトリ配下のファイルが色々ない、と言われるので、まとめて <code>~/.ghcup/ghc</code> のシンボリックリンクを作っても良い）</p>
<pre class="shell"><code>sudo mkdir /Users/runner/.ghcup
sudo ln -s /Users/chupaaaaaaan/.ghcup/ghc /Users/runner/.ghcup/ghc
</code></pre>
<p>ファイルを作成したら、HLSのセッションを再起動する（しなくても良い）。<br />
すると、今度はちゃんと修正候補の適用が効くようになっている。</p>
<h1 id="エラーについて">エラーについて</h1>
<p>上記のエラーについては、以下で言及されている。</p>
<p><a href="https://github.com/haskell/haskell-language-server/issues/412">Formatting with Brittany does nothing</a><br />
<a href="https://github.com/haskell/haskell-language-server/issues/591">hlint seeking unavailable file /opt/ghc/8.8.4/lib/ghc-8.8.4/settings</a></p>
<p>どうやら、HLSのビルド用設定がハードコードされているから・・・っぽい。<br />
現状まだissueはオープンであり、とりあえずの解決策として、シンボリックリンクを作るとうまくいった、という報告がある。<br />
ゆくゆく修正されたら、本記事の対応は不要になる・・・はず。</p>
<h1 id="終わりに">終わりに</h1>
<p>ちょっと前に、Haskell用のLanguage ServerをHIEからHLSに乗り換えたが、<br />
導入もととても簡単になっていたり、HIEより安定して稼働している感じがしており、とても使い心地が良い。<br />
HLS自体は最近できたばかりだが、機能追加も活発で、Haskellの開発環境がどんどんいいものになっていっている。<br />
自分はHaskellコミュニティにあまりコントリビュート出来ていなくて心苦しいが、<br />
コミュニティからの恩恵を受けつつ、自分も何か還元していきたいなぁ、と思う今日このごろです。</p>
            </div>
            <!-- コメント機能は別途追加する -->
            <!-- {% if page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!-- <div id="disqus_thread"> -->
            <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
            <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
            <!-- </div> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <section id="isso-thread"></section> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            </div>
          </div>
          <div class="pagination">
              <!-- ページネーションは別途追加する -->
              <!-- {% if page.next %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
              <!-- {% endif %} -->
              <!-- {% if page.previous %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
              <!-- {% endif %} -->
          </div>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and page.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function() { -->
<!--      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; -->
<!--      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; -->
<!--      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); -->
<!--     })(); -->
<!--   </script> -->
<!-- {% endif %} -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

