<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2021-01-21_intellij_settings_in_first.html">Intellij Ideaの設定ことはじめ</a></li>
        
          <li><a href="./2021-01-02_hls-first-aid.html">Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</a></li>
        
          <li><a href="./2020-11-04_maven-deploy-jar-and-scripts.html">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</a></li>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well main">
              <h1>Intellij Ideaの設定ことはじめ</h1>
            <!-- コメント機能は別途追加する -->
            <!-- {% if site.comments and page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!--     <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            <div class="post-content">
            <p>仕事でちょこちょこIntellij Ideaを使っているが、なかなかに使用頻度が少ないので、毎回どんな設定を入れればよいか忘れてしまう。<br />
なので、メモっておこうと。</p>
<p>設定を変更したら、随時更新する。</p>
<p><!--more--></p>
<h1 id="キーバインド">キーバインド</h1>
<h2 id="きほん">きほん</h2>
<dl>
<dt>設定画面</dt>
<dd><code>Ctrl + Alt + s</code><br />

</dd>
<dt>プロジェクト設定画面</dt>
<dd><code>Ctrl + Alt + Shift + S</code>
</dd>
</dl>
<h2 id="自分で追加したもの">自分で追加したもの</h2>
<dl>
<dt>Commit (In Main Menu | Git)</dt>
<dd><code>Ctrl + Shift + J</code>
</dd>
</dl>
<h1 id="プラグイン">プラグイン</h1>
<p>設定画面左上の検索欄で「 <code>plugin</code> 」と入力するとプラグイン一覧が出てくるので、必要なものをインストールする。</p>
<h2 id="japanese-language-pack">Japanese Language Pack</h2>
<ul>
<li>日本語化用<br />
</li>
<li>そんなに使用しなくてもいいかも（英語のほうが情報多いので）</li>
</ul>
<h2 id="key-promoter-x">Key Promoter X</h2>
<ul>
<li>キーバインドで実行できる操作をマウスでやっちゃうと、対応するキーバインドを教えてくれる<br />
</li>
<li>キーバインドが登録されていない操作をすると、キーバインド登録の提案をしてくれる</li>
</ul>
<h2 id="emacs-patched">Emacs+ Patched</h2>
<ul>
<li>Emacsキーバインドの設定<br />
</li>
<li><a href="https://qiita.com/crossroad0201/items/eecc87dd1c0258148167">https://qiita.com/crossroad0201/items/eecc87dd1c0258148167</a> あたりを参考に。</li>
</ul>
<h1 id="jvm設定">JVM設定</h1>
<p><a href="https://qiita.com/kazuki43zoo/items/49c90e5f05397c694d26">https://qiita.com/kazuki43zoo/items/49c90e5f05397c694d26</a> より。<br />
Intellij Ideaが使用するJVMの設定。</p>
<p><code>Help</code> → <code>Edit Custom VM Options...</code> を選択。</p>
<h2 id="ヒープサイズ">ヒープサイズ</h2>
<p>ヒープサイズが、デフォルトでは700MBと少し心許ないため、以下設定を追加する。</p>
<pre><code>-Xms2048m
-Xmx2048m
</code></pre>
<h1 id="mavenプロジェクトの設定">Mavenプロジェクトの設定</h1>
<h2 id="importing">Importing</h2>
<p>ソースコードやドキュメントは、自動的にダウンロードするようにする。</p>
<p>設定画面から「 <code>Build, Extension, Deployment</code> → <code>Build Tools</code> → <code>Maven</code> → <code>Importing</code> 」を選択し<br />
（もしくは、設定画面左上の検索欄で「 <code>Importing</code> 」と入力し）、「 <code>Automatically download</code> 」の<br />
チェックボックスをすべてチェックしておく（ <code>Sources</code> 、 <code>Documentation</code> 、 <code>Annotations</code> ）。</p>
            </div>
            <!-- コメント機能は別途追加する -->
            <!-- {% if page.comments %} -->
            <!--     {% if site.disqus != '' %} -->
            <!-- <div id="disqus_thread"> -->
            <!--     <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript> -->
            <!--     <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->
            <!-- </div> -->
            <!--     {% elsif site.isso != '' %} -->
            <!--     <section id="isso-thread"></section> -->
            <!--     {% endif %} -->
            <!-- {% endif %} -->
            </div>
          </div>
          <div class="pagination">
              <!-- ページネーションは別途追加する -->
              <!-- {% if page.next %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">Newer Post</a> -->
              <!-- {% endif %} -->
              <!-- {% if page.previous %} -->
              <!--   <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">Older Post</a> -->
              <!-- {% endif %} -->
          </div>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and page.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function() { -->
<!--      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true; -->
<!--      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'; -->
<!--      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); -->
<!--     })(); -->
<!--   </script> -->
<!-- {% endif %} -->

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

