<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/syntax.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
勉強したことおきば
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2020-08-06_org_iterating_tasks.html">Org-habitの、'.+' '++' '+' の振る舞いの違いについて</a></li>
        
          <li><a href="./2020-07-23_kyopro_abc165c_full_search.html">Haskellで精進記録 - ABC165d</a></li>
        
          <li><a href="./2020-07-23_kyopro_abc162d_full_search.html">Haskellで精進記録 - ABC162d</a></li>
        
          <li><a href="./2020-07-19_encoding_mismatch_between_server_and_client.html">GitBash（MSYS2）でsshしたときの文字化けを解消する</a></li>
        
          <li><a href="./2020-07-18_change_theme.html">ブログのテーマを変更した</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
            <div class="well">

    <!-- 年ごとに分類するのは別途追加 -->
    <!-- {% unless post.next %} -->
    <!--     <h1>2020</h1> -->
    <!--     <ul> -->
    <!-- {% else %} -->
    <!--     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% if year != nyear %} -->
    <!--         </ul> -->
    <!--         <h1>2020</h1> -->
    <!--         <ul> -->
    <!--     {% endif %} -->
    <!-- {% endunless %} -->
    <li><a href="./2020-08-06_org_iterating_tasks.html">2020-08-06 (Thu) - Org-habitの、'.+' '++' '+' の振る舞いの違いについて</a></li>

    <!-- 年ごとに分類するのは別途追加 -->
    <!-- {% unless post.next %} -->
    <!--     <h1>2020</h1> -->
    <!--     <ul> -->
    <!-- {% else %} -->
    <!--     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% if year != nyear %} -->
    <!--         </ul> -->
    <!--         <h1>2020</h1> -->
    <!--         <ul> -->
    <!--     {% endif %} -->
    <!-- {% endunless %} -->
    <li><a href="./2020-07-23_kyopro_abc165c_full_search.html">2020-07-24 (Fri) - Haskellで精進記録 - ABC165d</a></li>

    <!-- 年ごとに分類するのは別途追加 -->
    <!-- {% unless post.next %} -->
    <!--     <h1>2020</h1> -->
    <!--     <ul> -->
    <!-- {% else %} -->
    <!--     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% if year != nyear %} -->
    <!--         </ul> -->
    <!--         <h1>2020</h1> -->
    <!--         <ul> -->
    <!--     {% endif %} -->
    <!-- {% endunless %} -->
    <li><a href="./2020-07-23_kyopro_abc162d_full_search.html">2020-07-23 (Thu) - Haskellで精進記録 - ABC162d</a></li>

    <!-- 年ごとに分類するのは別途追加 -->
    <!-- {% unless post.next %} -->
    <!--     <h1>2020</h1> -->
    <!--     <ul> -->
    <!-- {% else %} -->
    <!--     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% if year != nyear %} -->
    <!--         </ul> -->
    <!--         <h1>2020</h1> -->
    <!--         <ul> -->
    <!--     {% endif %} -->
    <!-- {% endunless %} -->
    <li><a href="./2020-07-19_encoding_mismatch_between_server_and_client.html">2020-07-19 (Sun) - GitBash（MSYS2）でsshしたときの文字化けを解消する</a></li>

    <!-- 年ごとに分類するのは別途追加 -->
    <!-- {% unless post.next %} -->
    <!--     <h1>2020</h1> -->
    <!--     <ul> -->
    <!-- {% else %} -->
    <!--     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% if year != nyear %} -->
    <!--         </ul> -->
    <!--         <h1>2020</h1> -->
    <!--         <ul> -->
    <!--     {% endif %} -->
    <!-- {% endunless %} -->
    <li><a href="./2020-07-18_change_theme.html">2020-07-18 (Sat) - ブログのテーマを変更した</a></li>

    <!-- 年ごとに分類するのは別途追加 -->
    <!-- {% unless post.next %} -->
    <!--     <h1>2020</h1> -->
    <!--     <ul> -->
    <!-- {% else %} -->
    <!--     {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %} -->
    <!--     {% if year != nyear %} -->
    <!--         </ul> -->
    <!--         <h1>2020</h1> -->
    <!--         <ul> -->
    <!--     {% endif %} -->
    <!-- {% endunless %} -->
    <li><a href="./2020-07-09_first_post.html">2020-07-09 (Thu) - ブログを始めた</a></li>

</ul>
</div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">&copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a>
            under
            <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>, theme adjusted to Hakyll by Takayuki Uchida</p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

