<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2021-01-21_intellij_settings_in_first.html">Intellij Ideaの設定ことはじめ</a></li>
        
          <li><a href="./2021-01-02_hls-first-aid.html">Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</a></li>
        
          <li><a href="./2020-11-04_maven-deploy-jar-and-scripts.html">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</a></li>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
            
<div class="article">
  <div class="well main">
       <!-- <h1>Intellij Ideaの設定ことはじめ</h1> -->
       <div class="posttitle">Intellij Ideaの設定ことはじめ</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>仕事でちょこちょこIntellij Ideaを使っているが、なかなかに使用頻度が少ないので、毎回どんな設定を入れればよいか忘れてしまう。<br />
なので、メモっておこうと。</p>
<p>設定を変更したら、随時更新する。</p>
<p>
            <a href="./2021-01-21_intellij_settings_in_first.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
       <!-- <h1>Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</h1> -->
       <div class="posttitle">Haskell Language ServerでHLintによる自動修正が効かない時の応急処置</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p><strong><strong>2021-01-29 追記</strong></strong><br />
<strong><strong>該当不具合のIssueはクローズしています。そのため、以下の記事の内容は実施する必要がなくなりました。</strong></strong></p>
<p>私は、普段Haskellを触るとき、 GHCUP + Haskell Language Server (HLS) + Emacs (lsp-mode) という組み合わせを使っている。<br />
HLSは、平たく言えばエディタにHaskellのIDEを提供するバックエンドである。<br />
そのIDEとしての機能の一つに、HLintで検出された修正候補をソースコードに適用させる、というものがある。<br />
（lsp-modeを特にカスタマイズせず使っていれば、修正候補にカーソルを合わせた上で <code>s-l a a</code> のキーバインドでコードアクションから実行できる）</p>
<p>ところが、本記事執筆時点では、以下のようなメッセージが出て実行に失敗する。</p>
<pre class="example"><code>LSP :: Please open an issue in lsp-mode for implementing `53796:hlint:applyAll'.
</code></pre>
<p>今回は、上記に対応し、修正候補の適用ができるようにする手順をメモしておく。<br />
ただし、後にも述べるが、上記のメッセージはHLSの不具合に起因しているっぽい。<br />
そのため、ゆくゆくbugfixが行われたら必要なくなるかもしれない。</p>
<p>
            <a href="./2021-01-02_hls-first-aid.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
       <!-- <h1>maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</h1> -->
       <div class="posttitle">maven-assembly-pluginで配布用アーカイブを作成するいくつかの方法</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>Mavenで、アーティファクトと実行用スクリプト等を含んだアーカイブを作成しようとしたとき、<br />
真っ先に思いつくのがmaven-assembly-pluginを使用することだと思う。</p>
<p>今回、 (展開するだけでデプロイできるように) 実行可能jarや実行用スクリプトをアーカイブしようとして、<br />
少しハマってしまったので、実施方法をメモしておく。</p>
<p>今回は、実行可能jarを</p>
<ul>
<li>依存関係を含まない、単体のjarとして作成する場合<br />
</li>
<li>uber-jarとして作成する場合 (maven-assembly-pluginを使用)<br />
</li>
<li>uber-jarとして作成する場合 (maven-shade-pluginを使用)</li>
</ul>
<p>の3パターンで作成してみる。</p>
<p>
            <a href="./2020-11-04_maven-deploy-jar-and-scripts.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
       <!-- <h1>個人的git-stashまとめ</h1> -->
       <div class="posttitle">個人的git-stashまとめ</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p><code>git stash</code> って、非常によく使うコマンドなんだけど、実は普段は以下のことしかしてない。</p>
<ul>
<li><code>git stash</code> で、現在の変更を退避して、別ブランチで作業<br />
</li>
<li>元のブランチに戻ってから <code>git stash pop</code> して、変更を回復</li>
</ul>
<p>別ブランチで作業するために変更を退避するならこれで十分だけれども、<br />
ドラフト記事を管理するためにもうちょっと凝ったことをしたかったので、 <code>git-stash</code> の使い方をまとめてみる。</p>
<p>
            <a href="./2020-11-03_git-stash-collection.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
       <!-- <h1>個人的Java情報まとめ</h1> -->
       <div class="posttitle">個人的Java情報まとめ</div>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>お仕事でJavaを書いていて、いつもわからん、となってしまうので、勉強を兼ねて、自分用のまとめ記事を作ってみる（と言ってもまだMavenだけ・・・）。<br />
とりあえず雑多に放り込んで、収拾つかなくなったらちゃんと整理したり、個別に記事を書くかも。</p>
<p>
            <a href="./2020-10-31_java-info-collection.html">続きを読む</a>
          
        </div>
    </div>
</div>


<!-- ページネーションは別途追加する -->
<!-- <div class="pagination"> -->
<!--   {% if paginator.previous_page %} -->
<!--       {% if paginator.previous_page == 1 %} -->
<!--         <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a> -->
<!--       {% else %} -->
<!--         <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a> -->
<!--       {% endif %} -->
<!--   {% endif %} -->
<!--   <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
<!--   {% if paginator.next_page %} -->
<!--     <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a> -->
<!--   {% endif %} -->
<!-- </div> -->

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

