<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>コーヒーと線香と万年筆</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="./css/theme.css" rel="stylesheet" type="text/css">
    <link href="./css/highlight.css" rel="stylesheet" type="text/css">
<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.isso != '' %} -->
<!-- <script data-isso="{{ site.isso }}" src="/js/embed.min.js"></script> -->
<!-- {% endif %} -->

</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">コーヒーと線香と万年筆</a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="./">Home</a></li>
                    <li class="active visible-xs-block"><a href="./links.html">Links</a></li>
                    <li class="active"><a href="./archive.html">Archive</a></li>
                    <li class="active"><a href="./about.html">About</a></li>
                    <li class="active"><a href="./atom.xml">RSS</a></li>
                    
                      <li class="active"><a href="https://github.com/chupaaaaaaan">Github</a></li>
                    
                    
                      <li class="active"><a href="https://qiita.com/chupaaaaaaan">Qiita</a></li>
                    
                </ul>
              </div>
        </div>
    </div>
</div>


<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            <div class="sidebar well">
自分で調べて試してみるのが、一番自分の力になるんだ
</div>

<div class="sidebar well">
    <h1>Recent Posts</h1>
    <ul>
        
          <li><a href="./2020-11-03_git-stash-collection.html">個人的git-stashまとめ</a></li>
        
          <li><a href="./2020-10-31_java-info-collection.html">個人的Java情報まとめ</a></li>
        
          <li><a href="./2020-10-04_hakyll_teaser.html">Hakyllでのteaser（続きを読む）の設定</a></li>
        
          <li><a href="./2020-09-15_webapp_security_02.html">Webアプリケーションセキュリティ - クロスサイト・リクエストフォージェリ（CSRF）</a></li>
        
          <li><a href="./2020-09-14_webapp_security_01.html">Webアプリケーションセキュリティ - クロスサイト・スクリプティング（XSS）</a></li>
        
    </ul>
</div>

<div class="sidebar well">
<h1>Links</h1>
<ul>
  <li><a target="_blank" href="https://hoogle.haskell.org/">Hoogle</a></li>
  <li><a target="_blank" href="https://www.stackage.org/">Stackage Server</a></li>
  <li><a target="_blank" href="https://scrapbox.io/haskell-shoen/">Haskell荘園</a></li>
</ul>

</div>

        </div>
        <div class="col-md-9">
            
<div class="article">
  <div class="well main">
        <h1>個人的git-stashまとめ</h1>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p><code>git stash</code> って、非常によく使うコマンドなんだけど、実は普段は以下のことしかしてない。</p>
<ul>
<li><code>git stash</code> で、現在の変更を退避して、別ブランチで作業<br />
</li>
<li>元のブランチに戻ってから <code>git stash pop</code> して、変更を回復</li>
</ul>
<p>別ブランチで作業するために変更を退避するならこれで十分だけれども、<br />
ドラフト記事を管理するためにもうちょっと凝ったことをしたかったので、 <code>git-stash</code> の使い方をまとめてみる。</p>
<p>
            <a href="./2020-11-03_git-stash-collection.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
        <h1>個人的Java情報まとめ</h1>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>お仕事でJavaを書いていて、いつもわからん、となってしまうので、勉強を兼ねて、自分用のまとめ記事を作ってみる（と言ってもまだMavenだけ・・・）。<br />
とりあえず雑多に放り込んで、収拾つかなくなったらちゃんと整理したり、個別に記事を書くかも。</p>
<p>
            <a href="./2020-10-31_java-info-collection.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
        <h1>Hakyllでのteaser（続きを読む）の設定</h1>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>このブログも少しずつ記事が増えてきている。<br />
現在トップページには、最新から数えて過去5件の記事まで、すべての内容が表示されるようになっているが、<br />
これではブログの下の方まで行くのに必要なスクロールが多くなるため、やや手間である。</p>
<p>そこで、今回はトップページに表示される記事はteaserとして表示されるよう、設定を追加した。</p>
<p>
            <a href="./2020-10-04_hakyll_teaser.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
        <h1>Webアプリケーションセキュリティ - クロスサイト・リクエストフォージェリ（CSRF）</h1>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>会社の金で勉強できるぞ！ということで、普段なかなか触る機会のないセキュリティについて勉強する。<br />
特に、よくある脆弱性とその対策方法を、サンプルコード等を用いた攻撃を通して理解したい。</p>
<p>この記事では、クロスサイト・リクエストフォージェリについて、概要と基本的な対策について記載する。</p>
<p>なお、今回学習に使用する資料はこちら。</p>
<ul>
<li><a href="https://www.amazon.co.jp/%25E4%25BD%2593%25E7%25B3%25BB%25E7%259A%2584%25E3%2581%25AB%25E5%25AD%25A6%25E3%2581%25B6-%25E5%25AE%2589%25E5%2585%25A8%25E3%2581%25AAWeb%25E3%2582%25A2%25E3%2583%2597%25E3%2583%25AA%25E3%2582%25B1%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%25B3%25E3%2581%25AE%25E4%25BD%259C%25E3%2582%258A%25E6%2596%25B9-%25E7%25AC%25AC2%25E7%2589%2588-%25E8%2584%2586%25E5%25BC%25B1%25E6%2580%25A7%25E3%2581%258C%25E7%2594%259F%25E3%2581%25BE%25E3%2582%258C%25E3%2582%258B%25E5%258E%259F%25E7%2590%2586%25E3%2581%25A8%25E5%25AF%25BE%25E7%25AD%2596%25E3%2581%25AE%25E5%25AE%259F%25E8%25B7%25B5-%25E5%25BE%25B3%25E4%25B8%25B8/dp/4797393165/ref=tmm_hrd_swatch_0?_encoding=UTF8&amp;qid=&amp;sr=">体系的に学ぶ 安全なWebアプリケーションの作り方 第2版 脆弱性が生まれる原理と対策の実践</a><br />
</li>
<li><a href="https://www.ipa.go.jp/files/000017316.pdf">安全なウェブサイトの作り方</a> （IPA）</li>
</ul>
<p>
            <a href="./2020-09-15_webapp_security_02.html">続きを読む</a>
          
        </div>
    </div>
</div>

<div class="article">
  <div class="well main">
        <h1>Webアプリケーションセキュリティ - クロスサイト・スクリプティング（XSS）</h1>
        <!-- コメント機能は別途追加する -->
        <!-- {% if site.comments and post.comments %} -->
        <!--     {% if site.disqus != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p> -->
        <!--     {% elsif site.isso != '' %} -->
        <!--     <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p> -->
        <!--     {% endif %} -->
        <!-- {% endif %} -->
        <div class="content">
          
            <p>会社の金で勉強できるぞ！ということで、普段なかなか触る機会のないセキュリティについて勉強する。<br />
特に、よくある脆弱性とその対策方法を、サンプルコード等を用いた攻撃を通して理解したい。</p>
<p>この記事では、クロスサイト・スクリプティングについて、概要と基本的な対策について記載する。</p>
<p>なお、今回学習に使用する資料はこちら。</p>
<ul>
<li><a href="https://www.amazon.co.jp/%25E4%25BD%2593%25E7%25B3%25BB%25E7%259A%2584%25E3%2581%25AB%25E5%25AD%25A6%25E3%2581%25B6-%25E5%25AE%2589%25E5%2585%25A8%25E3%2581%25AAWeb%25E3%2582%25A2%25E3%2583%2597%25E3%2583%25AA%25E3%2582%25B1%25E3%2583%25BC%25E3%2582%25B7%25E3%2583%25A7%25E3%2583%25B3%25E3%2581%25AE%25E4%25BD%259C%25E3%2582%258A%25E6%2596%25B9-%25E7%25AC%25AC2%25E7%2589%2588-%25E8%2584%2586%25E5%25BC%25B1%25E6%2580%25A7%25E3%2581%258C%25E7%2594%259F%25E3%2581%25BE%25E3%2582%258C%25E3%2582%258B%25E5%258E%259F%25E7%2590%2586%25E3%2581%25A8%25E5%25AF%25BE%25E7%25AD%2596%25E3%2581%25AE%25E5%25AE%259F%25E8%25B7%25B5-%25E5%25BE%25B3%25E4%25B8%25B8/dp/4797393165/ref=tmm_hrd_swatch_0?_encoding=UTF8&amp;qid=&amp;sr=">体系的に学ぶ 安全なWebアプリケーションの作り方 第2版 脆弱性が生まれる原理と対策の実践</a><br />
</li>
<li><a href="https://www.ipa.go.jp/files/000017316.pdf">安全なウェブサイトの作り方</a> （IPA）</li>
</ul>
<p>
            <a href="./2020-09-14_webapp_security_01.html">続きを読む</a>
          
        </div>
    </div>
</div>


<!-- ページネーションは別途追加する -->
<!-- <div class="pagination"> -->
<!--   {% if paginator.previous_page %} -->
<!--       {% if paginator.previous_page == 1 %} -->
<!--         <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a> -->
<!--       {% else %} -->
<!--         <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a> -->
<!--       {% endif %} -->
<!--   {% endif %} -->
<!--   <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span> -->
<!--   {% if paginator.next_page %} -->
<!--     <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a> -->
<!--   {% endif %} -->
<!-- </div> -->

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 footer navbar-inverse navbar-fixed-bottom">
            <p class="copyright">
              &copy;2020 コーヒーと線香と万年筆. Powered by <a href="https://jaspervdj.be/hakyll/">Hakyll</a>, 
              theme by <a href="https://github.com/scotte/jekyll-clean">Scott Emmons</a> 
              under <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution</a>,
              theme adjusted to Hakyll by Takayuki Uchida
            </p>
        </div>
    </div>
</div>

<!-- コメント機能は別途追加する -->
<!-- {% if site.comments and site.disqus != '' %} -->
<!--   <script type="text/javascript"> -->
<!--     var disqus_shortname = '{{ site.disqus }}'; -->

<!--     var disqus_config = function () { -->
<!--         this.page.identifier = '{{ page.url | slugify }}'; -->
<!--     }; -->

<!--    (function () { -->
<!--      var s = document.createElement('script'); s.async = true; -->
<!--      s.type = 'text/javascript'; -->
<!--      s.src = '//' + disqus_shortname + '.disqus.com/count.js'; -->
<!--      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s); -->
<!--    }()); -->
<!--  </script> -->
<!-- {% endif %} -->




</body>
</html>

